*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0px 15px;
    padding-top: 15px;
    background-color: white;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.4);
    // position: relative;
    border-radius: 20px;
    font-family: 'Poppins';

    .top{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .title{
            font-size: 1.5rem;
            color: #152b51;
            
            padding-right: 20px;
            input{
                border: 1px dashed #152b51;
                border-radius: 5px;
                outline: none;
                font-size: 1.5rem;
                font-family: 'Poppins';
                font-weight: 700;
                color: #152b51;
                background-color: transparent;
                width: 100%;
                text-align: center;
            }
        }

        .options{
            display: flex;
            gap: 10px;

            .option{
                display: flex;
                gap: 3px;
                // background-color: #152b51;
                padding: 2px 5px;
                border-radius: 5px;
                color: white;
                font-family: 'Poppins';
                font-size: .85rem;
                font-weight:normal;
                align-items: center;
                white-space: nowrap;
                transition: 0.3s ease;
                cursor: pointer;

                span{
                    font-size: 1rem;
                }

                &:hover{
                    opacity: 0.9;
                }
            }
        }
    }

    .body{
        height: 92%;
        // flex: 1;
        width: 100%;
        overflow-y: hidden;
        margin-top: 10px;
        display: flex;
        gap: 10px;
        position: relative;
        // background-color:#152b51;
        border-radius: 5px;

        .left{
            height: 100%;
            width: 350px;
            background-color: #efefef;
            padding: 10px 5px;
            border-radius: 10px 10px 0px 0px;
            display: flex;
            flex-direction: column;
            gap: 15px;
            
            .left-top{
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-bottom: 5px;
                border-bottom: 2px solid;
                .title{
                    font-size: 1.3rem;
                    flex: 1;
                    margin-right: 30px;
                    font-weight: 700;
                    align-self: flex-end;
                    letter-spacing: 1.5px;
                }
                button{
                    background-color: #198754;
                    color: white;
                    position: relative;
                }
            }
            

            .container{
                display: flex;
                flex-direction: column;
                gap: 10px;
                overflow-y: scroll;
                overflow-x: hidden;
                flex: 1;
                height: 100%;
                padding-bottom: 10px;
                .section-container{
                    display: flex;
                    align-items: center;
                    gap: 10px;
    
                    *{
                        flex: 1;
                    }
                }
    
                .section{
                    font-size: 1rem;
                    font-family: 'Nunito';
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    gap: 5px;
                    background-color: white;
                    padding: 5px;
                    border-radius: 5px;
                    .name{
                        border-bottom: 1px solid;
                        // width: fit-content;
                        padding-right: 20px;  
                        font-weight: bold;                  
                    }
                    .box{
                        .option{
                            display: flex;
                            align-items: center;
                            font-size: .85rem;
                        }
                        #batch{
                            width: 130px;
                            padding:3px 5px;
                            border-radius: 5px;
                            border: 1px solid;
                            font-weight: 500;
                            font-family: 'Poppins';
                        }
    
                    }
                    .gender{
                        display: flex;
                        gap: 10px;
                        text-align: center;
                        p{
                            padding: 3px 0px;
                            border-radius: 10px;
                            cursor: pointer;
                            font-size: .85rem;
                        }
                    }
                }
    
                .temp{
                    display: flex;
                    flex-direction: column;
                    font-family: 'Nunito';
                    gap: 10px;
                    background-color: white;
                    padding: 5px;
                    border-radius: 5px;

                    .section-name{
                        font-weight: bold;
                        border-bottom: 1px solid;
                    }
                    .section-sub{
                        display: flex;
                        flex-direction: column;
                        gap: 5px;
    
                        .name{
                            border-bottom: 1px solid;
                            padding-right: 20px;
                            width: fit-content;
                            font-style: italic;
                        }
                        .medium{
                            display: flex;
                            gap: 10px;
                            width: 100%;
                            p{
                                padding: 3px 5px;
                                border-radius: 10px;
                                cursor: pointer;
                                font-size: .85rem;
                            }
                            
                        }
                        .slider{
                            flex-direction: column;
                            gap: 0px;
                            align-items: center;
                            .slider-val{
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                width: 100%;
                                font-family: 'Poppins';
                                font-weight: 500;
                                p{
                                    background-color:#3949ab;
                                    color: white;
                                    border-radius: 3px;
                                    font-size: .7rem;
                                }
                            }
                            mat-slider{
                                width: 80%;
                                color: #35363a;
                            }
                        }
                    }
                    
                }
            }

            .container::-webkit-scrollbar{
                display: none;
            }

            

        }

        .right{
            height: 100%;
            display: flex;
            gap: 10px;
            flex: 1;
            overflow: hidden;
            flex-direction: column;
            padding-bottom: 5px;
            position: relative;
            // background-color: #35363a;
           .table{
                overflow-x: scroll;
                flex: 1;
                width: 100%;
                // flex: 1;
                table{
                    border-collapse: collapse;

                    th,td{
                        
                        white-space: nowrap;
                        padding: 3px 30px;
                        text-align: center;
                        font-size: .85rem;
                    }
                    th{
                        border: 1px solid;
                        font-weight: 300;
                        background-color: #35363a;
                        color: white;
                    }

                    td{
                        padding: 7px 30px;
                        background-color: #35363a74;
                        // color: white;
                        font-family: 'Nunito';
                    }
                }
           }
           .footer{
            display: flex;
            align-items: center;
            justify-content: space-between;
                button{
                    background-color: #198754;
                    color: white;
                    font-family: 'Poppins';
                    font-weight: 500;
                    padding: 5px 15px;
                }
                p{
                    font-family: 'Poppins';
                    font-weight: 500;
                    font-size: .85rem;
                }
                span{
                    font-family: 'Poppins';
                    font-weight: 500;
                    font-size: 1.3rem;
                    color: #198754;
                }
           }
            
        }

       
        

        .table::-webkit-scrollbar{
            width: 5px;
            display: none;
        }
    }

    .active-chip{
        background-color: #f44336;
        color: white;
        transition: 0.3s;
        border : 1px solid #f44336;
        &:active{
            transform: scale(.95);
        }
    }
    .inactive-chip{
        border: 1px solid;
        transition: 0.15s ease;
        
        &:hover{
            background-color: rgba(0,0,0,0.3);
        }
    }

    .prevent-select {
        -webkit-user-select: none; /* Safari */
        -ms-user-select: none; /* IE 10 and IE 11 */
        user-select: none; /* Standard syntax */
    }
    
}