<div class="main">

    <img (click) = "back()" src="../../assets/back.png" *ngIf="section==2" class="back">

    <div class="top">
        <div class="title">
            <h1>{{title}}</h1>
            
            <hr id="line" [ngStyle]="section==1?{'width' : '230px'} : section==2? {'width' : '300px'} : {}">
        </div>

    </div>

    <div class="main-container">

        <div class="member-details-box" *ngIf="section==1">

            <div class="details">
    
                <div class="top">
                    <h2>{{name}}</h2>
                    <p>{{staff_id}}</p>
                </div>
                
    
                <div class="info">
                    <span class="material-icons">person</span>
                    <p class="field">User ID : </p>
                    <p class="value">{{user_id}}</p>
                </div>
    
                <div class="info">
                    <span class="material-icons">mail</span>
                    <p class="field">Mail ID : </p>
                    <p class="value">{{mail_id}}</p>
                </div>
    
                <div class="info">
                    <span class="material-icons">call</span>
                    <p class="field">Contact : </p>
                    <p class="value">+91 {{contact}}</p>
                </div>

                <div class="tool-box">
                    <div class="tool" id="add" *ngIf="user_role==='Director'" (click) = "changeSection(2, 'Add', 'Admin')">
                        <span class="material-icons">add</span>
                        <p>Admin</p>
                    </div>

                    <!-- (click)="getMemberById(member.pk, 'member')" -->
                    <div class="tool" id="edit" (click) = "user_role==='Director'?changeSection(2, 'Edit', 'Admin') : changeSection(2, 'Edit', 'Member')">
                        <span class="material-icons">edit</span>
                        <p>Edit</p>
                    </div>
                    
                    <div class="tool" id="delete">
                        <span class="material-icons">delete</span>
                        <p>Delete</p>
                    </div>
                </div>
                
            </div>
        </div>

        <div class="member-stats-container" *ngIf="section==1 && user_role==='Officer'">
            <h3>Performance Statistics</h3> 
            <div class="member-stats-box">
                <div class="stats-box">
                    <p class="card-title">Today</p>
                    <div class="val-box" >
                        <div class="val" style="border-right: 1px dashed;">
                            <p class="val-name" style="background-color: #1a6486;">Reports</p>
                            <p class="val-value">{{reports_today}}</p>
                        </div>
                        <div class="val">
                            <p class="val-name" style="background-color: #ea4034;">Drives</p>
                            <p class="val-value">{{drives_today}}</p>
                        </div>
                    </div>
                </div>

                <div class="stats-box">
                    <p class="card-title">This Week</p>
                    <div class="val-box" >
                        <div class="val" style="border-right: 1px dashed;">
                            <p class="val-name" style="background-color: #1a6486;">Reports</p>
                            <p class="val-value">{{reports_week}}</p>
                        </div>
                        <div class="val">
                            <p class="val-name" style="background-color: #ea4034;">Drives</p>
                            <p class="val-value">{{drives_week}}</p>
                        </div>
                    </div>
                </div>

                <div class="stats-box">
                    <p class="card-title">This Month</p>
                    <div class="val-box" >
                        <div class="val" style="border-right: 1px dashed;">
                            <p class="val-name" style="background-color: #1a6486;">Reports</p>
                            <p class="val-value">{{reports_month}}</p>
                        </div>
                        <div class="val">
                            <p class="val-name" style="background-color: #ea4034;">Drives</p>
                            <p class="val-value">{{drives_month}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="member-company-stats" *ngIf="section==1 && user_role==='Officer'">
            <h3>Company Statistics</h3>  
            <div class="companies">
                <div class="company-category">
                    <div class="title-box">
                        <p class="cat-title">Core</p>
                        <p class="cat-count">{{core_count}}</p>
                    </div>
                    <div class="list-container">
                        <p class="nothing" *ngIf="core.length==0">Nothing to Show!!</p>
                        <p class="company-item" *ngFor="let item of core">
                            {{item.company}}
                        </p>
                    </div>
                </div>

                <div class="company-category">
                    <div class="title-box">
                        <p class="cat-title">IT - Product</p>
                        <p class="cat-count">{{it_product_count}}</p>
                    </div>
                    <div class="list-container">
                        <p class="nothing" *ngIf="it_product.length==0">Nothing to Show!!</p>
                        <p class="company-item" *ngFor="let item of it_product">
                            {{item.company}}
                        </p>
                    </div>
                </div>

                <div class="company-category">
                    <div class="title-box">
                        <p class="cat-title">IT - Service</p>
                        <p class="cat-count">{{it_service_count}}</p>
                    </div>
                    
                    <div class="list-container">
                        <p class="nothing" *ngIf="it_service.length==0">Nothing to Show!!</p>
                        <p class="company-item" *ngFor="let item of it_service">
                            {{item.company}}
                        </p>
                    </div>
                </div>

                <div class="company-category">
                    <div class="title-box">
                        <p class="cat-title">Marketing</p>
                        <p class="cat-count">{{marketing_count}}</p>
                    </div>

                    <div class="list-container">
                        <p class="nothing" *ngIf="marketing.length==0">Nothing to Show!!</p>
                        <p class="company-item" *ngFor="let item of marketing">
                            {{item.company}}
                        </p>
                    </div>
                </div>

                <div class="company-category">
                    <div class="title-box">
                        <p class="cat-title">Others</p>
                        <p class="cat-count">{{others_count}}</p>
                    </div>

                    <div class="list-container">
                        <p class="nothing" *ngIf="others.length==0">Nothing to Show!!</p>
                        <p class="company-item" *ngFor="let item of others">
                            {{item.company}}
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="members-container" *ngIf="section==1 && user_role==='Director'">
            <div class="top">
                <h3>System Admins</h3>
                <div class="add-member" (click)="changeSection(2, 'Add', 'Admin')">
                    <span class="material-symbols-outlined">
                        add_box
                    </span>
                    <p>Add Admin</p>
                </div>
            </div>
            
            <div class="team-members-grid">
                <div class="member-info-card" *ngFor="let member of admin_lst">
                    <div class="title-info">
                        <p class="name">{{member.name}}</p>
                        <p class="staff-id">{{member.staff_id}}</p>
                    </div>

                    <div class="content">
                        <div class="info">
                            <span class="material-icons">person</span>
                            <p class="field">User ID : </p>
                            <p class="value">{{member.user_id}}</p>
                        </div>
            
                        <div class="info">
                            <span class="material-icons">mail</span>
                            <p class="field">Mail ID : </p>
                            <p class="value">{{member.mail}}</p>
                        </div>
            
                        <div class="info">
                            <span class="material-icons">call</span>
                            <p class="field">Contact : </p>
                            <p class="value">+91 {{member.phone}}</p>
                        </div>
                    </div>

                    <div class="options-box">
                        <!-- (click)="getMemberById(member.pk)" -->
                        <span class="material-symbols-outlined" id="edit" matTooltip="edit" (click)="getMemberById(member.pk, 'admin')">
                            edit
                        </span>
                        <!-- (click)="show_delete = member.pk" -->
                        <span class="material-symbols-outlined" id="delete" matTooltip="delete" (click)="show_delete = member.pk" >
                            delete
                        </span>
                    </div>

                    <div class="delete-box" *ngIf="show_delete === member.pk">
                
                        <div class="dialog-box">
                            <p>Are you sure you want to delete this Admin?</p>
                            <div class="btns">
                                <!-- (click)="deleteMember(member.pk)" -->
                                <p class="del-btn" style="background-color: #198754;" (click)="deleteMember(member.pk, 'admin', member.staff_id)">Yes</p>
                                <p class = "del-btn" style="background-color: #e5383b;"  (click)="show_delete = 0">No</p>
                            </div>
                        </div>
        
                    </div>
                </div>
            </div>
        </div>

        <div class="members-container" *ngIf="section==1 && user_role==='Director'">
            <div class="top">
                <h3>My Team</h3>
                <div class="add-member" (click)="changeSection(2, 'Add', 'Member')" >
                    <span class="material-symbols-outlined">
                        add_box
                    </span>
                    <p>Add Member</p>
                </div>
            </div>
            
            <div class="team-members-grid">
                <div class="member-info-card" *ngFor="let member of team_lst">
                    <div class="title-info">
                        <p class="name">{{member.name}}</p>
                        <p class="staff-id">{{member.staff_id}}</p>
                    </div>

                    <div class="content">
                        <div class="info">
                            <span class="material-icons">person</span>
                            <p class="field">User ID : </p>
                            <p class="value">{{member.user_id}}</p>
                        </div>
            
                        <div class="info">
                            <span class="material-icons">mail</span>
                            <p class="field">Mail ID : </p>
                            <p class="value">{{member.mail}}</p>
                        </div>
            
                        <div class="info">
                            <span class="material-icons">call</span>
                            <p class="field">Contact : </p>
                            <p class="value">+91 {{member.phone}}</p>
                        </div>
                    </div>

                    <div class="options-box">
                        <!-- (click)='getDriveById(drive.id)' -->
                        <span class="material-symbols-outlined" id="edit" matTooltip="edit" (click)="getMemberById(member.pk, 'member')">
                            edit
                        </span>
                        <span class="material-symbols-outlined" id="delete" matTooltip="delete"  (click)="show_delete = member.pk" >
                            delete
                        </span>
                    </div>

                    <div class="delete-box" *ngIf="show_delete === member.pk">
                
                        <div class="dialog-box">
                            <p>Are you sure you want to delete this Member?</p>
                            <div class="btns">
                                <p class="del-btn" style="background-color: #198754;" (click)="deleteMember(member.pk, 'member', '')">Yes</p>
                                <p class = "del-btn" style="background-color: #e5383b;"  (click)="show_delete = 0">No</p>
                            </div>
                        </div>
        
                    </div>
                </div>
            </div>
        </div>

        <div class="add-member-box" *ngIf="section==2">
            <!-- [formGroup]="loginForm" (ngSubmit)="proceedLogin()" -->
            <form [formGroup]="addMemberForm" *ngIf="section==2">
                
                <div class="input">
                    <p>Name</p>
                    <mat-form-field class="input">
                        <mat-label>Tom H</mat-label>
                        <input matInput formControlName = "name">
                    </mat-form-field>
                </div>
                
                <div class="input">
                    <p>E-mail ID</p>
                    <mat-form-field>
                        <mat-label>tom@kpriet.ac.in</mat-label>
                        <input matInput formControlName = "mail">
                    </mat-form-field>
                </div>    
                
                
                <div class="input">
                    <p>Staff ID</p>
                    <mat-form-field>
                        <mat-label>19KPR001</mat-label>
                        <input matInput formControlName = "staff_id">
                    </mat-form-field>
                </div>
                
    
                <div class="input">
                    <p>Contact</p>
                    <mat-form-field>
                        <mat-label>xxxxxxxxxx</mat-label>
                        <span matPrefix>+91 &nbsp;</span>
                        <input matInput formControlName = "contact">
                    </mat-form-field> 
                </div>
                             
    
                <div class="btns">
                  <button mat-raised-button id="reset" (click)="addMemberForm.reset()">Reset</button>
                  <button mat-raised-button id="add" (click)="action==='Add'?addMember() : updateMember()">{{action==='Add'?'Add '+role : 'Save Changes'}}</button>
                </div>
              
            </form>
    
        </div>

    </div>
</div>