<section>
    <div class="sidenav">
        <div class="nav" id="top-nav">
            <img src="../../assets/profile.png" alt="">
            <h4>{{user_id}}</h4>
        </div>

        <div class="nav" (click)="selectMenu('drive')" [ngClass] = "{active: cur_option =='drive'}">
            <span class="material-symbols-outlined">
                event
            </span>
            <p>Placement Drive</p>
        </div>

        <div class="nav" (click)="selectMenu('team')" [ngClass] = "{active: cur_option =='team'}">
            <span class="material-symbols-outlined">
                groups
            </span>
            <p>My Team</p>
        </div>
        
        <div class="nav" (click)="selectMenu('profile')" [ngClass] ="{active: cur_option =='profile'}">
            <span class="material-symbols-outlined">
                person
            </span>
            <p>My Profile</p>
        </div>

        <div class="nav" id="btm-nav" routerLink=''>
            <span class="material-symbols-outlined">
                logout
            </span>
            <p>Logout</p>
        </div>
    </div>
    <div class="main">
        <app-drive *ngIf="cur_option=='drive'"></app-drive>
        <app-my-team *ngIf="cur_option=='team'"></app-my-team>
        <app-profile *ngIf="cur_option=='profile'"></app-profile>

    </div>
</section>
