<div class="main" *ngIf="section==1">

    <!-- <img (click) = "back()" src="../../assets/back.png" *ngIf="section==2" class="back"> -->

    <div class="top">
        <div class="title">
            <h1>Report Summary</h1>
        </div>
    </div>

    <div class="filter-box" >
        <div class="container">
            <div class="filter-container">

                <div class="temp-container">
                    <p>Period</p>
                    <div class="status-filter">
                        
                        <a style="text-decoration: none;">
                            <div class="status" [ngClass]="{'active-chip-blue' : period_filter=='Today', 'not-active-chip':period_filter!='Today'}" (click)="changeFilter('Today')">
                                <span class="material-symbols-outlined">
                                    done
                                </span>
                                <p>Today</p>
                            </div>
                        </a>

                        <a style="text-decoration: none;">
                            <div class="status" [ngClass]="{'active-chip-blue' : period_filter=='Custom', 'not-active-chip':period_filter!='Custom'}" (click)="changeFilter('Custom')">
                                <span class="material-symbols-outlined">
                                    done
                                </span>
                                <p>Custom</p>
                            </div>
                        </a>
                    </div>
                </div>
    
            </div>
    
            <a>
                <span matTooltip="Refresh" class="material-symbols-outlined" id="refresh" (click)="changeFilter(period_filter)">
                    <!-- (click)="applyFilter()" -->
                    refresh
                </span>
            </a>
            
        </div>
        
        <div class="temp">
            <div class="date-filter" *ngIf="period_filter==='Custom'">
            
                <mat-form-field>
                    <mat-label>Filter By Date Range</mat-label>
                    
                    <mat-date-range-input [rangePicker]="picker">
                        <input matStartDate placeholder="Start date" [(ngModel)]="startDate">
                        <input matEndDate placeholder="End date" [(ngModel)]="endDate">
                    </mat-date-range-input>
    
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-date-range-picker #picker></mat-date-range-picker>
                </mat-form-field>
                <button mat-raised-button (click)="changeFilter('Custom')">Apply</button>
                <!--  -->
            </div>

            <div></div>

            <div class="more prevent-select" *ngIf="section==1">
                <button (click)= 'goto(2)'>
                    <p>View More</p>
                    <span class="material-symbols-outlined">
                        arrow_forward_ios
                    </span>
                </button>
            </div>
        </div>
        

        
    </div>
    
    <div class="main-container">
        <div class="stats-box prevent-select" *ngIf="section==1">
            <div class="card-1" style="background-color: #2a9d8f;">
                <div class="card-title">Total Reports</div>
                <div class="card-content">
                    <img class="img" src="../../assets/reports.svg" style="height: 110px;">
                    <div class="val">
                        <h1>{{tot_reports}}</h1>
                    </div>
                    
                </div>
                
            </div>
            <div class="card-2" style="background-color: #e76f51;">
                <div class="card-title">Active Staffs</div>
                <div class="card-content">
                    <img class="img" src="../../assets/officers.svg" style="width: 50px;">
                    <div class="val">
                        <h1>{{active_staffs}}</h1>
                    </div>
                    
                </div>
            </div>

            <div class="card-3" style="background-color: #ef476f;">
                <div class="card-title">Total Follow-Ups</div>
                <div class="card-content">
                    <img class="img" src="../../assets/companies.svg" style="height: 90px;">
                    <div class="val">
                        <h1>{{tot_companies}}</h1>
                    </div>
                </div>
            </div>
        </div>
        
        <table *ngIf="section==1">
            <tr class="prevent-select">
                <th>S.No</th>
                <th>Staff ID</th>
                <th>Staff Name</th>
                <th>Total Follow-Ups</th>
                <th style="flex:3;">Companies</th> 
            </tr>
            <tr *ngFor="let summary of report_summary">
                <td>{{summary.position}}</td>
                <td>{{summary.staff_id}}</td>
                <td>{{summary.name}}</td>
                <td>
                    <p class="count prevent-select">{{summary.total_reports}}</p>
                </td>
                <td style="flex:3;overflow-x:scroll">
                    <div class="company-chips-box prevent-select">
                        <div class="company-chip" *ngFor="let company of summary.companies">
                            <p style="white-space: nowrap;">{{company}}</p>
                        </div>
                    </div>
                </td>
            </tr>
        </table>

    </div>

</div>

<app-company (close_section) = handleValue($event) *ngIf="section==2"></app-company>