<div class="main">

    <div class="top">
        <div class="title" *ngIf="section==1">
            <h1>Report Summary</h1>
            <hr id="line" style="width: 380px;">
        </div>

    </div>

    <div class="filter-box" *ngIf="section==1">
        <div class="container">
            <div class="filter-container">

                <div class="temp-container">
                    <p>Period</p>
                    <div class="status-filter">
                        
                        <a style="text-decoration: none;">
                            <div class="status" [ngClass]="{'active-chip-blue' : period_filter=='Today', 'not-active-chip':period_filter!='Today'}" (click)="changeFilter('Today')">
                                <span class="material-symbols-outlined">
                                    done
                                </span>
                                <p>Today</p>
                            </div>
                        </a>

                        <a style="text-decoration: none;">
                            <div class="status" [ngClass]="{'active-chip-blue' : period_filter=='Custom', 'not-active-chip':period_filter!='Custom'}" (click)="changeFilter('Custom')">
                                <span class="material-symbols-outlined">
                                    done
                                </span>
                                <p>Custom</p>
                            </div>
                        </a>
                    </div>
                </div>
    
            </div>
 
            <a>
                <span matTooltip="Refresh" class="material-symbols-outlined" id="refresh" (click)="changeFilter(period_filter)">
                    <!-- (click)="applyFilter()" -->
                    refresh
                </span>
            </a>
            
        </div>
        
        <div class="date-filter" *ngIf="period_filter==='Custom'">
            
            <mat-form-field>
                <mat-label>Filter By Date Range</mat-label>
                
                <mat-date-range-input [rangePicker]="picker">
                  <input matStartDate placeholder="Start date" [(ngModel)]="startDate">
                  <input matEndDate placeholder="End date" [(ngModel)]="endDate">
                </mat-date-range-input>

                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
            </mat-form-field>
            <button mat-raised-button (click)="changeFilter('Custom')">Apply</button>
            <!--  -->
        </div>
    </div>

    <div class="main-container">
        
        <div class="stats-box">
            <div class="card-1">
                <div class="card-title">Total Reports</div>
                <div class="card-content">
                    <img class="img" src="../../assets/reports.svg" style="height: 110px;">
                    <h1 class="val">{{tot_reports}}</h1>
                </div>
                
            </div>
            <div class="card-2">
                <div class="card-title">Active Staffs</div>
                <div class="card-content">
                    <img class="img" src="../../assets/officers.svg" style="width: 50px;">
                    <h1 class="val">{{active_staffs}}</h1>
                </div>
            </div>
            <div class="card-3">
                <div class="card-title">Total Companies</div>
                <div class="card-content">
                    <img class="img" src="../../assets/companies.svg" style="height: 90px;">
                    <h1 class="val">{{tot_companies}}</h1>
                </div>
            </div>
        </div>

        <table *ngIf="report_summary.length>0 && section==1">
            <tr>
                <th>S.No</th>
                <th>Staff ID</th>
                <th>Staff Name</th>
                <th>No.Of Reports</th>
                <th style="flex:3;">Companies</th> 
                <th>Details</th>
            </tr>
            <tr *ngFor="let summary of report_summary">
                <td>{{summary.position}}</td>
                <td>{{summary.staff_id}}</td>
                <td>{{summary.name}}</td>
                <td>
                    <p class="count">{{summary.total_reports}}</p>
                </td>
                <td style="flex:3;">
                    <div class="company-chips-box">
                        <div class="company-chip" *ngFor="let company of summary.companies">
                            <p>{{company}}</p>
                        </div>
                    </div>
                </td>
                <td>
                    <span class="material-symbols-outlined">
                        open_in_new
                    </span>
                </td>
            </tr>
        </table>
    </div>

<!-- 
    <div class="grid-container" *ngIf="section==1">
        <button id="csv-export" (click)="onBtnExport()">
            <span class="material-symbols-outlined">
                download
            </span>
            Export as CSV
        </button>
        <ag-grid-angular
            style="width: 100%; height: 500px;"
            class="ag-theme-alpine"
            [rowData]="row_data"
            [columnDefs]="col_defs"
            [defaultColDef]="defaultColDef"
            [enableRangeSelection]="true"
            (gridReady)="onGridReady($event)"
            ></ag-grid-angular>
    </div> -->
</div>