
.ag-theme-alpine {
    // --ag-grid-size: 10px;
    --ag-list-item-height: 10px;
    // --ag-row-height : 50px;
}


*{
    margin: 0;
    padding: 0;
}

.main{
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-bottom: 5%;
    position: relative;

    .no-data{
        // background-color: #152b51;
        width: 80%;
        height: 60vh;
        align-self: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        img{
            height: 70%;
        }

        p{
            font-family: 'Poppins';
            font-size: 20px;
        }
    }

    .title{
        margin-top: 30px;
        margin-left: 40px;
        font-family: 'Poppins';
        font-size: 1.5rem;
        letter-spacing: 2px;
        color: #152b51ff;

        h2{
            font-size: 1.5rem;
            background-color: #198754;
            display: inline-block;
            padding: 5px 20px;
            color: white;
            border-radius: 5px;
            margin-top: 20px;
        }
    }
    
    #line{
        height: 3px;
        background-color: #152b51ff;
        border-radius: 10px;
    }

    .add-drive{
        display: flex;
        align-items: center;
        width: fit-content;
        padding: 7px 15px;
        border-radius: 5px;
        margin-right: 50px;
        color: white;
        background-color: #35363a;
        margin-top: 10px;
        font-weight: 500;

        gap: 10px;
        align-self: flex-end;
        transition: 0.3s ease;
        cursor: pointer;

        p{
            font-size: 17px;
            font-family: 'Nunito';
        }

        &:hover{
            opacity: 0.85;
        }
    }

    .filter-box{
        display: flex;
        flex-direction: column;
        gap: 20px;
        flex: 1;
        margin-top: 30px;
        margin-left: 40px;
        margin-right: 40px;

        .container{
            display: flex;
            align-items: center;
            justify-content: space-between;
            // background-color: #152b51;
            // width: 100%;
            
            .filter-container{
                display: flex;
                align-items: center;
                justify-content: flex-start;
                border-radius: 5px;
                gap: 15px;

                .temp-container{
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    padding: 10px;
                    gap: 5px;
                    border: 1px solid #35363a;
                    border-radius: 5px;

                    p{
                        font-family: 'Poppins';
                        font-weight: 500;
                        font-size: 1rem;
                    }

                    .status-filter{
                        display: flex;
                        gap: 15px;
                        flex: 1;
                        
                        .status{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            gap: 5px;
                            padding: 3px 7px;
                            // height: 20px;
                            border-radius: 5px;
                            font-family: 'Nunito';
                            cursor: pointer;
                            transition: 0.2s ease;

                            p{
                                font-family: 'Nunito';
                            }
            
                            &:hover{
                                opacity: 0.9;
                            }
            
                            &:active{
                                transform: scale(0.9);
                                // transition: none;
                            }
            
                            span{
                                font-size: 1rem;
                            }
                        }
                    }
                }
            }

            #refresh{
                background-color:#198754;
                color: white;
                font-size: 1.2rem;
                padding: 5px;
                border-radius: 5px;
                cursor: pointer;

                &:hover{
                    opacity: 0.85;
                }

                &:active{
                    transform: scale(0.9);
                }
            }

            
        }
        
        
        .date-filter{
            width: fit-content;
            display: flex;
            gap: 20px;

            mat-form-field{
                color: white;
                display: flex;
            }
            button{
                margin-top: 10px;
                background-color: #198754ff;
                color: white;
            }
        }
    }

    .top{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .add-report-box{
        display: flex;
        flex-direction: column;
        padding: 30px;
        width: 80%;
        align-self: start;
        margin-left: 40px;
        margin-top: 2%;
        border: 1px dashed #152b51ff;
        border-radius: 10px;
        position: relative;
        transition: background-color 0.3s ease;


        .vis-toggle{
            font-size: 1rem;
            padding: 5px 10px;
            border-radius: 10px;
            position: absolute;
            right: 20px;
            top: 20px;

            .toggle-txt{
                margin-left: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 3px;

                p{
                    font-family: 'nunito';
                    font-weight: 500;
                    margin-top: 3px;
                }
            }

            
        }

        form{
            width: 80%;
            display: flex;
            flex-direction: column;
            gap: 40px;
            padding: 10px 50px;
            transition: color 0.3s ease;

            mat-form-field{
                width: 100%;
            }

            .reminder-toggle{
                display: flex;
                gap: 15px;
            }

            p{
                font-weight: 500;
            }

            .input{
                flex:1;
                display: flex;
                flex-direction: column;
                gap: 10px;
            }

            .section{
                display: flex;
                gap: 30px;
                align-items: center;
            }
        }

        .btns{
            display: flex;
            justify-content: space-between;
        }

        #add{
            background-color: #e5383b;
            color: white;
            font-weight: bold;
            padding: 0px 10px;
            width: 150px;
        }
        
        #reset{
            border: 1px solid #e5383b;
            color: #e5383b;
            font-weight: bold;
            width: 150px;
        }
    }

    .back{
        height: 30px;
        width: 30px;
        position: absolute;
        left: 40px;
        cursor: pointer;
    }

    

    .grid-container{
        margin-top: 2%;
        width: 95%;
        padding: 5px;
        height: fit-content;
        align-self: start;
        margin-left: 40px;
        display: flex;
        flex-direction: column;
        // justify-content: center;

        #csv-export{
            padding: 7px 10px;
            border-radius: 5px;
            border: none;
            background-color: #e5383b;
            color: white;
            font-family: 'Poppins';
            align-self: flex-end;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            cursor: pointer;
        }

        ag-grid-angular{
            border: 5px solid #152b51ff;
            margin-top: 15px;
        }

        table{
            border: 1px solid #35363a;
            border-collapse: collapse;
            border-radius: 5px;
            // width: 80%;
            // overflow-x: scroll;
            
            th{
                font-family: 'Poppins';
                font-weight: 500;
                padding: 10px;
                border: 1px solid #35363a;
                background-color: #1a6486;
                color: white;
            }
            td{
                font-family: 'Nunito';
                padding: 10px;
                border: 1px solid;
                white-space: nowrap;
                text-align: center;
            }
            .edit,.delete{
                padding: 0px 15px;
                cursor: pointer;
                transition: 0.3s ease;
            }

            .edit:hover{
                transform: scale(1.3);
            }
            .delete:hover{
                transform: scale(1.3);
            }
        }
    }
}


.not-active-chip{
    border: 1px solid rgb(104, 102, 102);
    color: rgb(104, 102, 102) ;
}
.active-chip-orange{
    border: 1px solid #ea4034;
    color: white;
    background-color: #ea4034;
}

.active-chip-blue{
    border: 1px solid #1a6486;
    color: white;
    background-color: #1a6486;
}

.active-chip-dark{
    border: 1px solid #35363a;
    color: white;
    background-color: #35363a;
}

.normal-cell{
    background-color: white;
    border-color: #35363a;
}
.dark-cell{ 
    background-color: #35363a;
    border-color: white;
    color: white;
}

.inactive-tool{
    pointer-events: none;
    opacity: 0;
}

