<header>
    <div id="name">
        <p>Career </p>
        <p>Development Center</p>
    </div>
    <img id="img" src="../../assets/college_logo.png">
</header>

<section id="welcome">
    <h1>Unlock your potential and seize every opportunity!!</h1>
    <a href="#login" style="text-decoration: none;">
        <p>Explore More
            <span class="material-symbols-outlined">
                keyboard_double_arrow_down
            </span>
        </p>
    </a>
</section>

<section id="login">
    <div class="page">
        <h1>Login Portal</h1>
        <div class="box">
            <div class="box-1">
                <img src="../../assets/director_img.svg" alt="">
                <p (click)="loginAs('Director')">Placement Director</p>
            </div>
            <div class="box-2">
                <img src="../../assets/officer_img.svg" alt="">
                <p (click)="loginAs('Officer')">Placement Officer</p>
            </div>
        </div>
    </div>
    
</section>