<div class="add-drive-box">
    <div class="card-title">
        <h2>{{data.open_as==='add'?'Add Drive' : 'Edit Drive'}}</h2>
    </div>
    <div class="form-box">
        <h1>{{company}}</h1>
        <form [formGroup]="addDriveForm">
        
            <div class="section">
                <div class="input">
                    <p>Job Role</p>
                    <mat-form-field class="input">
                        <mat-label>SDE Intern</mat-label>
                        <input matInput formControlName = "job_role">
                    </mat-form-field>
                </div>

                <div class="input">
                    <p>CTC</p>
                    <mat-form-field class="input">
                        <mat-label>8.0</mat-label>
                        <input matInput formControlName = "ctc">
                        <p style="margin-right: 10px;" matSuffix>LPA</p>
                    </mat-form-field>
                </div>
            </div>
            
            <div class="section">
                <div class="input">
                    <p>Drive Date</p>
                    <mat-form-field>
                        <mat-label>Choose a date</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName = "date">
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                      </mat-form-field>
                </div> 
    
                <div class="input">
                    <p>Drive Mode</p>
                    <mat-form-field>
                        <mat-label>Mode</mat-label>
                        <mat-select formControlName = "mode">
                            <mat-option value="online">Online</mat-option>
                            <mat-option value="offline">Offline</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
    
            <div class="input">
                <p>Description</p>
                <mat-form-field>
                    <mat-label>Write Description Here</mat-label>
                    <textarea matInput formControlName="description"></textarea>
                </mat-form-field> 
            </div>

            <div class="input">
                <p>Eligible Departments</p>
                <div class="dept-grid" *ngIf="eligible_depts.size>0">
                    <p class="dept-name" *ngFor="let dept of eligible_depts">
                       {{dept}} 
                    </p>
                </div>
                <div *ngIf="eligible_depts.size===0">
                    <p>--</p>
                </div>
            </div>

            <div class="input spl-btn-box" style="margin-top: 20px;">
                <div class="spl-btn" [ngClass]="{'gen-btn' : eligible_lst_uploaded, 'disabled-gen' :  !eligible_lst_uploaded}" (click)="openStudentTable()">
                    <span class="material-icons" *ngIf="!eligible_lst_uploaded">
                        add_box
                    </span>
                    <span class="material-icons" *ngIf="eligible_lst_uploaded">
                        task_alt
                    </span>
                    <p>{{eligible_lst_uploaded? 'Eligible List Added' : 'Generate Eligible List'}}</p>
                </div>

                <div class="spl-btn" [ngClass]="{'add-offer' : result_ready, 'disabled' : !result_ready, 'added-offer' : result_uploaded}" [ngStyle]="!result_ready?{'cursor': 'not-allowed'} : {}">
                    <span class="material-icons" *ngIf="!result_ready && !result_uploaded">
                        pending_actions
                    </span>
                    <span class="material-icons" *ngIf="result_ready && !result_uploaded">
                        add_box
                    </span>
                    <span class="material-icons" *ngIf="result_uploaded">
                        task_alt
                    </span>
                    <p>{{result_uploaded?'Offer Details Added' : result_ready? 'Add Offer Details' : 'Result Pending'}}</p>
                </div>
            </div>

            <!-- <div class="input">
                <div style="display: flex;align-items:center;">
                    <p>Eligible Departments</p>
                    <mat-checkbox
                        (change)="setAllDept($event.checked)"
                        [checked]="allDept"
                        color="primary">
                    </mat-checkbox>
                </div>
                
                <div class="dept-grid">
                    <mat-checkbox 
                        *ngFor="let item of departments" 
                        [value]="item.name" 
                        [(ngModel)]="item.value"
                        [ngModelOptions]="{standalone: true}"
                        color="primary"
                        (ngModelChange)="updateAllDept()">

                        {{item.name}}
                    
                    </mat-checkbox> 
                </div>
                
            </div> -->

            

            <div class="btns">
              <button mat-raised-button id="reset" (click)="closePopup()">Cancel</button>
              <button mat-raised-button id="add" (click)="addDrive()">{{data.open_as==='add'?'Add Drive' : 'Save Changes'}}</button>
            </div>
          
        </form>
    </div>
    
</div>

<div class="popup-container" *ngIf="student_table">
    <app-student-table 
        (close_student_table)="handleStudentTable($event)" 
        [student_table_popup_data] = "student_table_popup_data"
        *ngIf="student_table">
    </app-student-table>
    
</div>
