*{
    margin: 0;
    padding: 0;
}

.add-drive-box{
    display: flex;
    flex-direction: column;
    width: 600px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.4);

    .card-title{
        font-family: 'Poppins';
        h2{
            color: white;
            background-color: #35363a;
            padding: 10px 20px;
            font-weight: 500;
            font-size: 1.2rem;
            border-radius: 5px 5px 0px 0px;
        }
    }

    .form-box{
        height: 500px;
        overflow-y: scroll;
        padding: 20px 30px;

        h1{
            font-family: 'Poppins';
            font-weight: bold;
            font-size: 1.5rem;
            color:#152b51;
            padding-right: 20px;
            border-bottom: 2px solid;
            width: fit-content;
            
        }

        form{
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin-top: 15px;
            
            mat-form-field{
                width: 100%;
            }
    
            p{
                font-weight: 500;
            }
    
            .input{
                flex:1;
                display: flex;
                flex-direction: column;
                gap: 5px;
            }
    
            .section{
                display: flex;
                gap: 30px;
                align-items: center;
            }

            .spl-btn-box{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 100%;
                
                gap: 50px;
                

                .spl-btn{
                    opacity: 0.6;
                    background-color: #35363a9a;
                    border: 1px dashed;
                    gap: 5px;
                    font-weight: bold;
                    padding: 10px 15px;
                    height: 100px;
                    flex: 1;
                    border-radius: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    transition: 0.3s ease;
                }

                .add-offer{
                    cursor: pointer;
                    // background-color: #1a6486;
                    // color: white;
                    // border-color: #1a6486;
                    &:hover{
                        opacity: 1;
                        background-color: #1a6486;
                        color: white;
                        border-style: solid;
                        border-color: #1a6486;
                    }
                }

                .added-offer{
                    opacity: 1;
                    background-color: #1a6486;
                    color: white;
                    border-style: solid;
                    border-color: #1a6486;
                    
                    &:hover{
                        opacity: 0.85;
                    }
                }

                .gen-btn{
                    opacity: 1;
                    color: white;
                    background-color: #198754;
                    border-color: #198754;
                    &:hover{
                        opacity: 0.85;
                    }
                }

                .disabled{
                    opacity: 0.6;
                    cursor: not-allowed;
                    background-color: #35363a9a;
                }

                .disabled-gen{
                    
                    &:hover{
                        opacity: 1;
                        background-color: #35363a9a;
                        color: white;
                        background-color: #198754;
                        border-style: solid;
                    }
                }
                
            }
        }

        .dept-grid{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        }

        .btns{
            margin-top: 30px;
            display: flex;
            justify-content: space-between;
            width: 100%;
        }
    
        #add{
            background-color: #e5383b;
            color: white;
            font-weight: bold;
            padding: 0px 10px;
            width: 150px;
        }
        
        #reset{
            border: 1px solid #e5383b;
            color: #e5383b;
            font-weight: bold;
            width: 150px;
        }
    }
    
    .form-box::-webkit-scrollbar{
        width: 7px;
    }

    .form-box::-webkit-scrollbar-thumb{
        background-color: #35363a;
        border-radius: 10px;
    }
    
}