<div class="add-drive-box">
    <div class="card-title">
        <h2>{{data.open_as==='add'?'Add Drive' : 'Edit Drive'}}</h2>
    </div>
    <div class="form-box">
        <h1>{{company}}</h1>
        <form [formGroup]="addDriveForm">
        
            <div class="section">
                <div class="input">
                    <p>Job Role</p>
                    <mat-form-field class="input">
                        <mat-label>SDE Intern</mat-label>
                        <input matInput formControlName = "job_role">
                    </mat-form-field>
                </div>
            </div>
            
            <div class="section">
                <div class="input">
                    <p>Drive Date</p>
                    <mat-form-field>
                        <mat-label>Choose a date</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName = "date">
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                      </mat-form-field>
                </div> 
    
                <div class="input">
                    <p>Drive Mode</p>
                    <mat-form-field>
                        <mat-label>Mode</mat-label>
                        <mat-select formControlName = "mode">
                            <mat-option value="online">Online</mat-option>
                            <mat-option value="offline">Offline</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
    
            <div class="input">
                <p>Description</p>
                <mat-form-field>
                    <mat-label>Write Description Here</mat-label>
                    <textarea matInput formControlName="description"></textarea>
                </mat-form-field> 
            </div>
    
            <div class="input">
                <div style="display: flex;align-items:center;">
                    <p>Eligible Departments</p>
                    <mat-checkbox
                        (change)="setAllDept($event.checked)"
                        [checked]="allDept"
                        color="primary">
                    </mat-checkbox>
                </div>
                
                <div class="dept-grid">
                    <mat-checkbox 
                        *ngFor="let item of departments" 
                        [value]="item.name" 
                        [(ngModel)]="item.value"
                        [ngModelOptions]="{standalone: true}"
                        color="primary"
                        (ngModelChange)="updateAllDept()">

                        {{item.name}}
                    
                    </mat-checkbox> 
                </div>
                
            </div>
    
            <div class="input" style="margin-top: 25px;">
                <p>Eligibe List</p>
                <div class="file-sec">
                    <div class="file-name">
                      <p *ngIf="!selectedFile">No File Choosen...</p>
                      <p *ngIf="selectedFile">{{selectedFile.name}}</p>
                    </div>
                    <div class="file-inp">
                      <input class="inp" type="file" accept=".pdf,.csv,.xls,.doc" (change)="onFileSelected($event)" formControlName = 'file'>
                      <span class="material-symbols-outlined" style="color:white;font-weight:bold">
                        upload
                      </span>
                    </div>
                  </div> 
                  <!-- <span style="font-weight: 100;font-style:italic">(.csv, .pdf, .xls, .doc)</span> -->
                  <span style="font-weight: 100;font-style:italic" *ngIf="data.open_as==='edit'">*upload required only for new files</span>
            </div>
    
            <div class="btns">
              <button mat-raised-button id="reset" (click)="closePopup()">Cancel</button>
              <button mat-raised-button id="add" (click)="addDrive()">{{data.open_as==='add'?'Add Drive' : 'Save Changes'}}</button>
            </div>
          
        </form>
    </div>
    

</div>