<div class="add-drive-box">
    <div class="card-title">
        <h2>{{data.open_as==='add'?'Add Drive' : 'Edit Drive'}}</h2>
    </div>
    <div class="form-box">
        <h1>{{company}}</h1>
        <form [formGroup]="addDriveForm">
        
            <div class="section">
                <div class="input">
                    <p>Job Role</p>
                    <mat-form-field class="input">
                        <mat-label>SDE Intern</mat-label>
                        <input matInput formControlName = "job_role">
                    </mat-form-field>
                </div>

                <div class="input">
                    <p>CTC</p>
                    <mat-form-field class="input">
                        <mat-label>8.0</mat-label>
                        <input matInput formControlName = "ctc">
                        <p style="margin-right: 10px;" matSuffix>LPA</p>
                    </mat-form-field>
                </div>
            </div>
            
            <div class="section">
                <div class="input">
                    <p>Drive Date</p>
                    <mat-form-field>
                        <mat-label>Choose a date</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName = "date">
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                      </mat-form-field>
                </div> 
    
                <div class="input">
                    <p>Drive Mode</p>
                    <mat-form-field>
                        <mat-label>Mode</mat-label>
                        <mat-select formControlName = "mode">
                            <mat-option value="online">Online</mat-option>
                            <mat-option value="offline">Offline</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
    
            <div class="input">
                <p>Description</p>
                <mat-form-field>
                    <mat-label>Write Description Here</mat-label>
                    <textarea matInput formControlName="description"></textarea>
                </mat-form-field> 
            </div>

            <div class="section" style="align-items:flex-start">
                <div class="input">
                    <p>Eligible Departments</p>
                    <div class="dept-grid" *ngIf="eligible_depts.length>0">
                        <p class="dept-name" *ngFor="let dept of eligible_depts">
                           {{dept}} 
                        </p>
                    </div>
                    <div *ngIf="eligible_depts.length===0">
                        <p>--</p>
                    </div>
                </div>

                <div class="input spl-btn-box">
                    <div class="spl-btn" [ngClass]="{'disabled-gen' :  (!eligible_lst_uploaded || last_round!==0), 'gen-btn' : (eligible_lst_uploaded && last_round==0) }" 
                    (click)="openStudentTable()">
                        <span class="material-icons" *ngIf="!eligible_lst_uploaded">
                            add_box
                        </span>
                        <span class="material-icons" *ngIf="eligible_lst_uploaded">
                            task_alt
                        </span>
                        <p>{{eligible_lst_uploaded? 'Eligible List Added' : 'Generate Eligible List'}}</p>
                    </div>
                </div>
            </div>

            <div class="input" style="margin-top: 15px;">
                <p>Rounds</p>
                <div class="round-box">
                    <div class="round" *ngFor="let round of rounds" (click)="openStudentTableforRound(round)" [ngClass]="{'disabled-round' : round.num!==last_round, 'active-round' : round.num===last_round}">
                        <p class="heading">Round - {{round.num}}</p>
                        <p class="round-name">
                            {{round.name}}
                        </p>   
                    </div>

                    <div class="round add-round" [ngClass]="{'disable' : !result_ready}" (click) = "openStudentTableforRound({'num' : rounds.length+1, 'name' : 'NA' })" *ngIf="!drive_completed">
                        <div class="round-name">
                            <span class="material-icons" *ngIf="result_ready">
                                add_box
                            </span>
                            <span class="material-icons" *ngIf="!result_ready">
                                pending_actions
                            </span>
                            <p>{{result_ready?'Add Round' : 'Result Pending'}}</p>
                        </div>   
                    </div>
                </div>
            </div>

            <div class="btns">
              <button mat-raised-button id="reset" (click)="closePopup()">Cancel</button>
              <button mat-raised-button id="add" (click)="addDrive()">{{data.open_as==='add'?'Add Drive' : 'Save Changes'}}</button>
            </div>
          
        </form>
    </div>
    
</div>

<div class="popup-container" *ngIf="student_table">
    <app-student-table 
        (close_student_table)="handleStudentTable($event)" 
        [student_table_popup_data] = "student_table_popup_data"
        *ngIf="student_table">
    </app-student-table>
    
</div>
