<section>

    <div class="sidenav">
        <div class="nav" id="top-nav">
            <img src="../../assets/profile.png" alt="">
            <h4>{{user_id}}</h4>
        </div>

        <div class="nav" (click)="selectMenu('dash')" [ngClass] = "{active: cur_option =='dash'}">
            <span class="material-icons">
                dashboard
            </span>
            <p>Dashboard</p>
        </div>

        <div class="nav" (click)="selectMenu('placements')" [ngClass] ="{active: cur_option =='placements'}">
            <span class="material-symbols-outlined">
                school
            </span>
            <p>Placements</p>
        </div>

        <div class="nav" (click)="selectMenu('drive')" [ngClass] = "{active: cur_option =='drive'}">
            <span class="material-icons">
                event
            </span>
            <p>Placement Drive</p>
        </div>

        <div class="nav" (click)="selectMenu('company')" [ngClass] = "{active: cur_option =='company'}">
            <span class="material-icons">
                work
            </span>
            <p>My Companies</p>
        </div>

        <div class="nav" (click)="selectMenu('reports')" [ngClass] ="{active: cur_option =='reports'}">
            <span class="material-icons">
                list_alt
            </span>
            <p>Reports</p>
        </div>
        
        <div class="nav" (click)="selectMenu('notification')" [ngClass] ="{active: cur_option =='notification'}">
            <span class="material-icons">
                notifications_active
            </span>
            <p>Notifications</p>
        </div>
        
        <div class="nav" (click)="selectMenu('profile')" [ngClass] ="{active: cur_option =='profile'}">
            <span class="material-icons">
                person
            </span>
            <p>My Profile</p>
        </div>

        <div class="nav" id="btm-nav" (click)="logout()">
            <span class="material-icons">
                logout
            </span>
            <p>Logout</p>
        </div>
    </div>

    <div class="main">
        <app-dashboard *ngIf="cur_option === 'dash'"></app-dashboard>
        <app-drive *ngIf="cur_option=='drive'"></app-drive>
        <app-company *ngIf="cur_option=='company'"></app-company>
        <app-profile *ngIf="cur_option=='profile'"></app-profile>
        <app-notification *ngIf="cur_option=='notification'"></app-notification>
        <app-reports *ngIf="cur_option=='reports'"></app-reports>
        <app-placements *ngIf="cur_option=='placements'"/>
    </div>

</section>