<div class="main">

    <div class="top">
        <div class="title" *ngIf="section==1">
            <h1>Placement Drive</h1>
            <hr id="line" style="width: 380px;">
        </div>

        <div class="title" *ngIf="section==2">
            <h1>{{action==='add'?'Add Drive' : 'Edit Drive'}}</h1>
            <hr id="line" style="width: 250px;">
        </div>

    </div>
    
    <div class="filter-box" *ngIf="section==1">
        <div class="container">
            <div class="status-filter">
                <a style="text-decoration: none;">
                    <div class="status" [ngClass]="{'active-chip' : filter=='All', 'not-active-chip':filter!='All'}" (click)="filterByStatus('All')">
                        <span class="material-symbols-outlined">
                            done
                        </span>
                        <p>All</p>
                    </div>
                </a>
                
    
                <a style="text-decoration: none;">
                    <div class="status" [ngClass]="{'active-chip' : filter=='Today', 'not-active-chip':filter!='Today'}" (click)="filterByStatus('Today')">
                        <span class="material-symbols-outlined">
                            done
                        </span>
                        <p>Today</p>
                    </div>
                </a>
                
                <a style="text-decoration: none;">
                    <div class="status" [ngClass]="{'active-chip' : filter=='Upcoming', 'not-active-chip':filter!='Upcoming'}" (click)="filterByStatus('Upcoming')">
                        <span class="material-symbols-outlined">
                            done
                        </span>
                        <p>Upcoming</p>    
                    </div>
                </a>
    
                <a style="text-decoration: none;">
                    <div class="status" [ngClass]="{'active-chip' : filter=='Completed', 'not-active-chip':filter!='Completed'}" (click)="filterByStatus('Completed')">
                        <span class="material-symbols-outlined">
                            done
                        </span>
                        <p>Completed</p>    
                    </div>
                </a>
            </div>
            <a>
                <span matTooltip="Refresh" class="material-symbols-outlined" id="refresh" (click)="filterByStatus(filter)">
                    refresh
                </span>
            </a>
            
        </div>
        

        <div class="date-filter" *ngIf="filter == 'All' || filter == 'Completed'">
            
            <mat-form-field>
                <mat-label>Filter By Date Range</mat-label>
                
                <mat-date-range-input [rangePicker]="picker">
                  <input matStartDate placeholder="Start date" [(ngModel)]="startDate">
                  <input matEndDate placeholder="End date" [(ngModel)]="endDate">
                </mat-date-range-input>

                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
            </mat-form-field>
            <button mat-raised-button (click)="filterByStatus(filter)">Apply</button>
        </div>
    </div>
    

    <div class="no-data" *ngIf="drive_lst.length==0 && section===1">
        <img src="../../assets/no-data.svg" alt="no-data.svg">
        <p>No Data Found...</p>
    </div>

    <div class="grid-container" *ngIf="section==1">
        
        <div class="drive-info-box"  [ngClass]="{'inactive-box': drive.completed}" *ngFor="let drive of drive_lst">
            
            <!--  -->
            <div class="delete-box" *ngIf="show_delete === (drive.id.toString())">
                
                <div class="dialog-box">
                    <p>Are you sure you want to delete this drive?</p>
                    <div class="btns prevent-select">
                        <!--  -->
                        <!-- -->
                        <p class="del-btn" style="background-color: #2f96b4;" (click)="deleteDrive(drive.id)">Yes</p>
                        <p class = "del-btn" style="background-color: #e5383b;"  (click)="show_delete = ''">No</p>
                    </div>
                </div>

            </div>

            <div class="title-box prevent-select">
                <div class="left">
                    <p class="category">{{drive.category}}</p>
                    <div class="company">
                        <h1>{{drive.company}}</h1>
                        <a [href]="drive.website" target="_blank">
                            <span class="material-symbols-outlined link">
                                open_in_new
                            </span>
                        </a>
                    </div>
                    <p>{{drive.job_role}}</p>
                </div>
                <div class="right">
                    <span class="material-symbols-outlined">
                        today
                    </span>
                    <p>{{drive.date}}</p>
                </div>
            </div>
            
            <div class="content" style="flex-direction:row">
                
                <!-- HR Name -->
                <!-- <div class="field">
                    <span class="material-symbols-outlined prevent-select">
                        account_box
                    </span>
                    <p style="font-family: 'Poppins';font-weight:500;">HR Name : </p>
                    <p>{{drive.HR_name}}</p>
                </div> -->
                
                <!-- HR Mail -->
                <!-- <div class="field">
                    <span class="material-symbols-outlined prevent-select">
                        mail
                    </span>
                    <p style="font-family: 'Poppins';font-weight:500;">HR Mail : </p>
                    <p>{{(drive.lock_hr_mail && cur_staff_id!==drive.placement_officer_id)? '--' : drive.HR_mail}}</p>
                </div> -->

                <!-- HR Contact -->
                <!-- <div class="field">
                    <span class="material-symbols-outlined prevent-select">
                        phone
                    </span>
                    <p style="font-family: 'Poppins';font-weight:500;">HR Contact : </p>
                    <p>{{(drive.lock_hr_contact && cur_staff_id!==drive.placement_officer_id)? '--' : '+91 '+drive.HR_contact}}</p>
                </div> -->

                <!-- Mode -->
                <div class="field">
                    <span class="material-symbols-outlined prevent-select">
                        push_pin
                    </span>
                    <p style="font-family: 'Poppins';font-weight:500;">Mode : </p>
                    <p>{{drive.mode}}</p>
                </div>

                <!-- CTC -->
                <div class="field">
                    <span class="material-symbols-outlined prevent-select">
                        currency_rupee
                    </span>
                    <p style="font-family: 'Poppins';font-weight:500;">CTC : </p>
                    <p>{{drive.ctc}} LPA</p>
                </div>

                <!-- Depts -->
                <!-- <div class="dept-grid prevent-select">
                    <p class="dept" *ngFor="let dept of drive.departments">{{dept}}</p>
                </div> -->

                

                <!-- <img src="../../../../backend/cdc_app/media/" alt=""> -->
            </div>

            <div class="btm-box">
                <button mat-raised-button (click)="publishMail(drive)">Publish Mail</button>

                <div class="options-box prevent-select">
                    <span class="material-symbols-outlined" id="edit" matTooltip="edit" (click)='openDrivePopup(drive)'  *ngIf="role==='Director' || drive.placement_officer_id === cur_staff_id">
                        edit
                    </span>
                    <span class="material-symbols-outlined" id="delete" matTooltip="delete" (click)="show_delete = (drive.id.toString())" *ngIf="role==='Director' || drive.placement_officer_id === cur_staff_id">
                        delete
                    </span>
                    <span class="material-symbols-outlined" id="info" matTooltip="view more" (click)="openDriveDesc(drive)">
                        info
                    </span>
                </div>
            </div>
        
        </div> 

    </div>

    <div class="popup-container" *ngIf="drive_popup||desc_popup">
        <app-drive-popup (popup_closed)="handleDrivePopup($event)" *ngIf="drive_popup" [data] = 'drive_popup_data'></app-drive-popup>
        
        <div class="drive-info-box" *ngIf="desc_popup" style="flex-direction: column;padding:20px; width:40%">
            <!-- <div class="close">
                <span class="material-symbols-outlined" (click)="desc_popup = false">
                    close
                </span>
            </div> -->

            <div class="title-box prevent-select">
                <div class="left">
                    <p class="category">{{cur_desc_drive.category}}</p>
                    <div class="company">
                        <h1>{{cur_desc_drive.company}}</h1>
                        <a [href]="cur_desc_drive.website" target="_blank">
                            <span class="material-symbols-outlined link">
                                open_in_new
                            </span>
                        </a>
                    </div>
                    <p>{{cur_desc_drive.job_role}}</p>
                </div>
                <div class="right">
                    <span class="material-symbols-outlined">
                        today
                    </span>
                    <p>{{cur_desc_drive.date}}</p>
                </div>
            </div>
            
            <div class="content">
                
                <!-- HR Name -->
                <div class="field">
                    <span class="material-symbols-outlined prevent-select">
                        account_box
                    </span>
                    <p style="font-family: 'Poppins';font-weight:500;">HR Name : </p>
                    <p>{{cur_desc_drive.HR_name}}</p>
                </div>
                
                <!-- HR Mail -->
                <div class="field">
                    <span class="material-symbols-outlined prevent-select">
                        mail
                    </span>
                    <p style="font-family: 'Poppins';font-weight:500;">HR Mail : </p>
                    <p>{{(cur_desc_drive.lock_hr_mail && cur_staff_id!==cur_desc_drive.placement_officer_id)? '--' : cur_desc_drive.HR_mail}}</p>
                </div>

                <!-- HR Contact -->
                <div class="field">
                    <span class="material-symbols-outlined prevent-select">
                        phone
                    </span>
                    <p style="font-family: 'Poppins';font-weight:500;">HR Contact : </p>
                    <p>{{(cur_desc_drive.lock_hr_contact && cur_staff_id!==cur_desc_drive.placement_officer_id)? '--' : '+91 '+cur_desc_drive.HR_contact}}</p>
                </div>

                <!-- Mode -->
                <div class="field">
                    <span class="material-symbols-outlined prevent-select">
                        push_pin
                    </span>
                    <p style="font-family: 'Poppins';font-weight:500;">Mode : </p>
                    <p>{{cur_desc_drive.mode}}</p>
                </div>

                <!-- CTC -->
                <div class="field">
                    <span class="material-symbols-outlined prevent-select">
                        currency_rupee
                    </span>
                    <p style="font-family: 'Poppins';font-weight:500;">CTC : </p>
                    <p>{{cur_desc_drive.ctc}} LPA</p>
                </div>

                <!-- Depts -->
                <div class="dept-grid prevent-select">
                    <p class="dept" *ngFor="let dept of cur_desc_drive.departments">{{dept}}</p>
                </div>

            </div>

            <div class="btm-box">
                <div style="margin-top: 10px;">
                    <!-- <button mat-raised-button (click)="publishMail(cur_desc_drive)">Publish Mail</button> -->
                    <button mat-raised-button (click)="desc_popup=false" style="background-color: red">Close</button>
                </div>
            </div>

            <div class="info" *ngIf="cur_desc_drive.placement_officer_id === cur_staff_id">
                <span class="material-symbols-outlined" matTooltip="posted by you">
                    check_circle
                </span>
            </div>
        
        </div>
       
    </div>

</div>