<div class="main">

    <div class="top">
        <div class="title" *ngIf="section==1">
            <h1>Placement Drive</h1>
            <hr id="line" style="width: 380px;">
        </div>

        <div class="title" *ngIf="section==2">
            <h1>{{action==='add'?'Add Drive' : 'Edit Drive'}}</h1>
            <hr id="line" style="width: 250px;">
        </div>

    </div>
    
    <div class="filter-box" *ngIf="section==1">
        <div class="container">
            <div class="status-filter">
                <a style="text-decoration: none;">
                    <div class="status" [ngClass]="{'active-chip' : filter=='All', 'not-active-chip':filter!='All'}" (click)="filterByStatus('All')">
                        <span class="material-symbols-outlined">
                            done
                        </span>
                        <p>All</p>
                    </div>
                </a>
                
    
                <a style="text-decoration: none;">
                    <div class="status" [ngClass]="{'active-chip' : filter=='Today', 'not-active-chip':filter!='Today'}" (click)="filterByStatus('Today')">
                        <span class="material-symbols-outlined">
                            done
                        </span>
                        <p>Today</p>
                    </div>
                </a>
                
                <a style="text-decoration: none;">
                    <div class="status" [ngClass]="{'active-chip' : filter=='Upcoming', 'not-active-chip':filter!='Upcoming'}" (click)="filterByStatus('Upcoming')">
                        <span class="material-symbols-outlined">
                            done
                        </span>
                        <p>Upcoming</p>    
                    </div>
                </a>
    
                <a style="text-decoration: none;">
                    <div class="status" [ngClass]="{'active-chip' : filter=='Completed', 'not-active-chip':filter!='Completed'}" (click)="filterByStatus('Completed')">
                        <span class="material-symbols-outlined">
                            done
                        </span>
                        <p>Completed</p>    
                    </div>
                </a>
            </div>
            <a>
                <span matTooltip="Refresh" class="material-symbols-outlined" id="refresh" (click)="filterByStatus(filter)">
                    refresh
                </span>
            </a>
            
        </div>
        

        <div class="date-filter" *ngIf="filter == 'All' || filter == 'Completed'">
            
            <mat-form-field>
                <mat-label>Filter By Date Range</mat-label>
                
                <mat-date-range-input [rangePicker]="picker">
                  <input matStartDate placeholder="Start date" [(ngModel)]="startDate">
                  <input matEndDate placeholder="End date" [(ngModel)]="endDate">
                </mat-date-range-input>

                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
            </mat-form-field>
            <button mat-raised-button (click)="filterByStatus(filter)">Apply</button>
        </div>
    </div>
    

    <div class="no-data" *ngIf="drive_lst.length==0 && section===1">
        <img src="../../assets/no-data.svg" alt="no-data.svg">
        <p>No Data Found...</p>
    </div>

    <div class="grid-container" *ngIf="section==1">
        <div class="drive-info-box"  [ngClass]="{'inactive-box': drive.completed}" *ngFor="let drive of drive_lst">
            
            <!--  -->
            <div class="delete-box" *ngIf="show_delete === (drive.id.toString())">
                
                <div class="dialog-box">
                    <p>Are you sure you want to delete this drive?</p>
                    <div class="btns prevent-select">
                        <!--  -->
                        <!-- -->
                        <p class="del-btn" style="background-color: #2f96b4;" (click)="deleteDrive(drive.id)">Yes</p>
                        <p class = "del-btn" style="background-color: #e5383b;"  (click)="show_delete = ''">No</p>
                    </div>
                </div>

            </div>

            <div class="desc-box" *ngIf="show_desc === (drive.id.toString())">
                
                <div class="desc-title prevent-select">
                    <span class="material-symbols-outlined" (click)="show_desc = ''">
                        close
                    </span>
                    <h2>Description</h2>
                </div>
                <div class="desc-content">
                    <p>{{drive.description}}</p>
                </div>
                <!-- <div class="center-content">
                    
                    
                </div> -->
            </div>

            <div class="title-box prevent-select">
                <div class="left">
                    <p class="category">{{drive.category}}</p>
                    <div class="company">
                        <h1>{{drive.company}}</h1>
                        <a [href]="drive.website" target="_blank">
                            <span class="material-symbols-outlined link">
                                open_in_new
                            </span>
                        </a>
                    </div>
                    <p>{{drive.job_role}}</p>
                </div>
                <div class="right">
                    <span class="material-symbols-outlined">
                        today
                    </span>
                    <p>{{drive.date}}</p>
                </div>
            </div>
            
            <div class="content">
                
                <div class="field">
                    <span class="material-symbols-outlined prevent-select">
                        badge
                    </span>
                    <p style="font-family: 'Poppins';font-weight:500;">Placement Officer : </p>
                    <p>{{drive.placement_officer_id}}</p>
                </div>

                <div class="field">
                    <span class="material-symbols-outlined prevent-select">
                        account_box
                    </span>
                    <p style="font-family: 'Poppins';font-weight:500;">HR Name : </p>
                    <p>{{drive.HR_name}}</p>
                </div>
                
                <div class="field">
                    <span class="material-symbols-outlined prevent-select">
                        mail
                    </span>
                    <p style="font-family: 'Poppins';font-weight:500;">HR Mail : </p>
                    <p>{{drive.lock_hr_mail? 'Not Available' : drive.HR_mail}}</p>
                </div>

                <div class="field">
                    <span class="material-symbols-outlined prevent-select">
                        phone
                    </span>
                    <p style="font-family: 'Poppins';font-weight:500;">HR Contact : </p>
                    <p>{{drive.lock_hr_contact? 'Not Available' : '+91 '+drive.HR_contact}}</p>
                </div>

                <div class="field">
                    <span class="material-symbols-outlined prevent-select">
                        push_pin
                    </span>
                    <p style="font-family: 'Poppins';font-weight:500;">Mode : </p>
                    <p>{{drive.mode}}</p>
                </div>

                <div class="dept-grid prevent-select">
                    <p class="dept" *ngFor="let dept of drive.departments">{{dept}}</p>
                </div>

                <div class="options-box prevent-select">
                    <span class="material-symbols-outlined" id="edit" matTooltip="edit" (click)='openDrivePopup(drive)' [ngStyle]="drive.completed?{'pointer-events':'none'} : {}" *ngIf="role==='Director' || drive.placement_officer_id === cur_staff_id">
                        <!-- getDriveById(drive.id) -->
                        edit
                    </span>
                    <span class="material-symbols-outlined" id="delete" matTooltip="delete" (click)="show_delete = (drive.id.toString())" *ngIf="role==='Director' || drive.placement_officer_id === cur_staff_id">
                        delete
                    </span>
                    <span class="material-symbols-outlined" id="info" matTooltip="description" (click)="show_desc = (drive.id.toString())">
                        info
                    </span>
                </div>

                <!-- <img src="../../../../backend/cdc_app/media/" alt=""> -->
            </div>

            <a [href]="drive.file" download><button mat-raised-button>Eligible List</button></a>

            <!-- <div class="info">
                <p>more</p>
                <span class="material-symbols-outlined">
                    chevron_right
                </span>
            </div> -->

            <div class="info" *ngIf="drive.placement_officer_id === cur_staff_id">
                <!-- <p>more</p> -->
                <span class="material-symbols-outlined" matTooltip="posted by you">
                    check_circle
                </span>
            </div>
        
        </div>        
    </div>

    <div class="popup-container" *ngIf="drive_popup">
        <app-drive-popup (popup_closed)="handleDrivePopup($event)" [data] = 'drive_popup_data' *ngIf="drive_popup"></app-drive-popup>
    </div>

</div>