*{
    margin: 0;
    padding: 0;
}

.main{
    flex: 1;
    display: flex;
    flex-direction: column;
    // padding-bottom: 5%;
    position: relative;

    .back{
        height: 30px;
        width: 30px;
        position: absolute;
        left: 40px;
        cursor: pointer;
    }
    
    .no-data{
        // background-color: #152b51;
        width: 80%;
        height: 60vh;
        align-self: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        img{
            height: 70%;
        }

        p{
            font-family: 'Poppins';
            font-size: 20px;
        }
    }

    .title{
        margin-top: 30px;
        margin-left: 40px;
        font-family: 'Poppins';
        font-size: 1.5rem;
        letter-spacing: 2px;
        color: #152b51ff;

        h2{
            font-size: 1.5rem;
            background-color: #198754;
            display: inline-block;
            padding: 5px 20px;
            color: white;
            border-radius: 5px;
            margin-top: 20px;
        }
    }
    
    #line{
        height: 3px;
        background-color: #152b51ff;
        border-radius: 10px;
    }

    .more{
        color: white;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-bottom: 15px;
        // width: 100%;
        button{
            background-color: #35363a;
            color: white;
            display: flex;
            align-items: center;
            gap: 5px;
            border-radius: 5px;
            padding: 5px 10px;
            cursor: pointer;
            transition: 0.3s ease;
            p{
                font-family: 'Poppins';
                font-weight: 500;
            }
            span{
                font-size: 1rem;
            }
            &:hover{
                // opacity: 0.9;
                background-color: white;
                color: #35363a;
            }
        }
    }


    .filter-box{
        display: flex;
        flex-direction: column;
        gap: 20px;
        flex: 1;
        margin-top: 30px;
        margin-left: 40px;
        margin-right: 40px;

        .container{
            display: flex;
            align-items: center;
            justify-content: space-between;
            // width: 100%;
            
            .filter-container{
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                border-radius: 5px;
                gap: 15px;

                .status-filter{
                    display: flex;
                    flex: 1;
                    background-color: white;
                    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.4);
                    border-radius: 20px;
                    padding: 5px;
                    
                    .status{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 5px;
                        padding: 5px 15px;
                        border-radius: 15px;
                        font-family: 'Nunito';
                        cursor: pointer;
                        transition: 0.2s ease;
                        flex: 1;

                        p{
                            font-family: 'Nunito';
                            font-size: 1rem;
                            margin-left: 2px;
                        }
        
                        &:active{
                            transform: scale(0.9);
                            // transition: none;
                        }
        
                        span{
                            font-size: 1rem;
                        }
                    }
                }

                // .status-filter-sub{
                    
                // }
                
            }

            #refresh{
                background-color:#198754;
                color: white;
                font-size: 1.2rem;
                padding: 5px;
                border-radius: 5px;
                cursor: pointer;

                &:hover{
                    opacity: 0.85;
                }

                &:active{
                    transform: scale(0.9);
                }
            } 
        }
        
        .batch-filter{
            width: fit-content;
            display: flex;
            gap: 20px;

            mat-form-field{
                color: white;
                display: flex;
                
            }
            button{
                margin-top: 10px;
                background-color: #198754ff;
                color: white;
            }

            .slider{
                display: flex;
                flex-direction: column;
                width: 20vw;

                .slider-val{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    font-family: 'Nunito';
                    font-size: .75rem;
                    font-weight: 500;
                    p{
                        background-color: #35363a;
                        color: white;
                        padding: 2px 7px;
                        border-radius: 10px;
                    }
                }
            }
        }
    }

    .main-container{
        margin-left: 40px;
        height: fit-content;
        width: 95%;
        
        .stats-box{
            display: flex;
            gap: 20px;
            align-items: center;
            .stats{
                height: 150px;
                background-color: white;
                border-radius: 15px;
                border: 1px solid #aaa;
                // box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.4);
                flex: 1;
                padding: 5px 15px;
                display: flex;
                flex-direction: column;
                transition: 0.4s ease;
                cursor: pointer;

                &:hover{
                    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
                    transform: scale(1.025)
                }

                .stats-val{
                    font-family: 'Poppins';
                    font-size: 2rem;
                    margin-top: 10px;
                    font-weight: bold;
                    color: white;
                    background-color: #152b51;
                    width: fit-content;
                    padding: 0px 10px;
                    border-radius: 10px;
                }
                .stats-title{
                    font-family: 'Poppins';
                    font-weight: 500;
                    font-size: 1.2rem;
                    margin-top: 10px;
                    border-bottom: 1px dashed;
                    padding-bottom: 3px;
                }
                .stats-sub{
                    margin-top: 10px;
                    font-family: 'Nunito';
                    color: #35363a;
                    font-size: .85rem;
                    justify-self: flex-end;
                }
            }
        }
    }

    .active-chip-blue{
        background-color: #1a6486;
        color: white;
    }

    .active-chip-orange{
        background-color: #ea4034;
        color: white;
    }

    .not-active-chip{
        color: #aaa;
        &:hover{
            opacity: 0.9;
            color: #35363a;
        }
    }

    .prevent-select {
        -webkit-user-select: none; /* Safari */
        -ms-user-select: none; /* IE 10 and IE 11 */
        user-select: none; /* Standard syntax */
    }
}