<div class="main" *ngIf="section==1">

    <div class="top">
        <div class="title">
            <h1>My Dashboard</h1>
        </div>
    </div>

    <div class="filter-box prevent-select" >
        <div class="container">
            <div class="filter-container">

                <div class="status-filter" style="margin-top: 15px;">
                    
                    <div class="status" 
                    [ngClass]="{'active-chip-blue' : status_filter=='Batch', 'not-active-chip':status_filter!='Batch'}" (click)="changeFilter('Batch', job_type_filter)">
                        <span class="material-symbols-outlined">
                            communities
                        </span>
                        <p>Batch</p>
                    </div>
                

                    <div class="status" [ngClass]="{'active-chip-blue' : status_filter=='Overall', 'not-active-chip':status_filter!='Overall'}" (click)="changeFilter('Overall', job_type_filter)">
                        <span class="material-symbols-outlined">
                            diversity_2
                        </span>
                        <p>Overall</p>
                    </div>
                
                </div>

                <div class="status-filter" style="margin-top: 15px;">
                    
                    <div class="status" [ngClass]="{'active-chip-orange' : job_type_filter=='All', 'not-active-chip':job_type_filter!='All'}" (click)="changeFilter(status_filter, 'All')">
                        <span class="material-symbols-outlined">
                            done_all
                        </span>
                        <p>All</p>
                    </div>
                

                    <div class="status" [ngClass]="{'active-chip-orange' : job_type_filter=='Job', 'not-active-chip':job_type_filter!='Job'}" (click)="changeFilter(status_filter, 'Job')">
                        <span class="material-symbols-outlined">
                            work
                        </span>
                        <p>Job</p>
                    </div>

                    <div class="status" [ngClass]="{'active-chip-orange' : job_type_filter=='Internship', 'not-active-chip':job_type_filter!='Internship'}" (click)="changeFilter(status_filter, 'Internship')">
                        <span class="material-symbols-outlined">
                            handyman
                        </span>
                        <p>Internship</p>
                    </div>
                
                </div>

                
            </div>
    
            <a>
                <span matTooltip="Refresh" class="material-symbols-outlined" id="refresh" (click)="changeFilter(status_filter,job_type_filter)">
                    <!-- (click)="applyFilter()" -->
                    refresh
                </span>
            </a>
            
        </div>
        
        <div class="batch-filter" *ngIf="status_filter==='Batch'">
            <mat-form-field>
                <mat-label>Batch</mat-label>
                <mat-select [ngModel] = 'batch_indi' (ngModelChange)="onBatchChange($event)">
                  <mat-option *ngFor="let batch of batch_lst" [value]="batch">{{batch}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="batch-filter" *ngIf="status_filter==='Overall'">
            <div class="slider">
                <div class="slider-val">
                    <p>{{start_year}}</p>
                    <p>{{end_year}}</p>
                </div>
                
                <mat-slider [min]="cur_year-10" [max]="cur_year+2" step="1">
                    <input [(ngModel)]="start_year" matSliderStartThumb>
                    <input [(ngModel)]="end_year" matSliderEndThumb>
                </mat-slider>
            </div>
            

            <button mat-raised-button (click)="applyFilter(status_filter, job_type_filter)">Apply</button>
        </div>
    </div>
    
    <div class="main-container">

        <div class="stats-box">
            <div class="stats">
                <p class="stats-val">{{((placement_stats.placed_students[0]/placement_stats.placed_students[1])*100.00).toFixed(2)}}%</p>
                <p class="stats-title">Placed Students</p>
                <p class="stats-sub">{{placement_stats.placed_students[0]+' Students Placed out of '+placement_stats.placed_students[1]+'.'}}</p>
            </div>
            
            <div class="stats">
                <p class="stats-val">{{placement_stats.package.max}} LPA</p>
                <p class="stats-title">Highest Package</p>
                <p class="stats-sub">{{placement_stats.package.max_count+' Students received this Package.'}}</p>
            </div>
            
            <div class="stats">
                <div class="stats-sub-box" style="border-bottom: 1px solid">
                    <p class="stats-val">{{placement_stats.package.avg}} LPA</p>
                    <p class="stats-title">Average</p>
                </div>

                <div class="stats-sub-box" style="display: flex;flex-direction: row;">
                    <div style="flex:1; border-right:1px solid;">
                        <p class="stats-val-sub">{{placement_stats.package.max}} LPA</p>
                        <p class="stats-title-sub">Median</p>
                    </div>
                    <div style="flex:1;margin-left : 10px">
                        <p class="stats-val-sub">{{placement_stats.package.max}} LPA</p>
                        <p class="stats-title-sub">Mode</p>
                    </div>
                </div>
            </div>

            <div class="stats">
                <p class="stats-val">{{placement_stats.offers.total}}</p>
                <p class="stats-title">Total Offers</p>
                <p class="stats-sub">{{placement_stats.offers.multi_offers+' Students received multiple Package.'}}</p>
            </div>

            <div class="stats">
                <p class="stats-val">{{placement_stats.drives.total}}</p>
                <p class="stats-title">Drives Conducted</p>
                <p class="stats-sub">{{'Offers received from '+placement_stats.drives.offered+' Drives.'}}</p>
            </div>

            <!-- <div class="stats">
                <p class="stats-val">{{placement_stats.companies.offered}}</p>
                <p class="stats-title">Companies Offered</p>
                <p class="stats-sub">{{placement_stats.companies.total+' Companies visited.'}}</p>
            </div> -->
            
        </div>

        <h1>Category-Wise Offers</h1>
        <div class="stats-box">
            <div class="cat-stats" *ngFor="let cat of category_lst">
                <div class="cat-top">
                    <p class="cat-title" [ngStyle]="true?{'background-color': cat.color} : {}">{{cat.name}}</p>
                    <p class="cat-val">{{cat.tot_offers}}<span>Offers</span> </p>
                </div>

                <div class="cat-btm">
                    <div class="cat-btm-sub" style="border-radius: 0px;border-right:1px dashed">
                        <p class="cat-btm-val">{{cat.max_ctc}}<span>LPA</span> </p>
                        <p class="cat-btm-title">Max. CTC</p>
                        <div id="btm-design-lt" class="btm-design" [ngStyle]="true?{'background-color': cat.color} : {}"></div>
                    </div>
                    <div class="cat-btm-sub">
                        <p class="cat-btm-val">{{cat.avg_ctc}}<span>LPA</span> </p>
                        <p class="cat-btm-title">Avg. CTC</p>
                        <div id="btm-design-rt" class="btm-design" [ngStyle]="true?{'background-color': cat.color} : {}"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="box">
            <div class="chart-box">
                <div class="chart-title">
                    <h1>By Department</h1>
                    <!-- <div class="action-btn" *ngIf="charts.dept_chart" (click)="charts.dept_chart = !charts.dept_chart">
                        <span class="material-icons">
                            table_chart
                        </span>
                        <p>Table</p>
                    </div> -->
    
                    <!-- <div class="action-btn" *ngIf="!charts.dept_chart" (click)="charts.dept_chart = !charts.dept_chart">
                        <span class="material-icons">
                            bar_chart
                        </span>
                        <p>Chart</p>
                    </div> -->
                    
                </div>
                <div (click)="full_screen_chart = 'dept_chart'" [ngClass]="{'full-screen-chart' : full_screen_chart==='dept_chart', 'chart-canvas':full_screen_chart!=='dept_chart'}">
                    <canvas id="dept_bar_chart">
    
                    </canvas>
                </div>
                
            </div>

            <div class="chart-box">
                <div class="chart-title">
                    <h1>By CTC</h1>
                </div>
                <div class="chart-canvas">
                    <canvas id="ctc_line_chart">

                    </canvas>
                </div>
            </div>
        </div>

        <div class="box">
            <div class="chart-box">
                <div class="chart-title">
                    <h1>By CGPA</h1>
                    
                    
                </div>
                <div class="chart-canvas">
                    <canvas id="cgpa_bar_chart">
    
                    </canvas>
                </div>
            </div>

            <div class="chart-box">
                <div class="chart-title">
                    <h1>By Gender</h1>
                    <div class="action-btn" *ngIf="charts.gender_chart" (click)="charts.gender_chart = !charts.gender_chart">
                        <span class="material-icons">
                            table_chart
                        </span>
                        <p>Table</p>
                    </div>
    
                    <div class="action-btn" *ngIf="!charts.gender_chart" (click)="charts.gender_chart = !charts.gender_chart">
                        <span class="material-icons">
                            bar_chart
                        </span>
                        <p>Chart</p>
                    </div>
                    
                </div>
                <div class="temp-div">
                    <canvas id="gender_pie_chart" >
    
                    </canvas>
                </div>
                
            </div>


        </div>

        <div class="box">
            <div class="chart-box">
                <div class="chart-title">
                    <h1>Overall Placement Performance</h1>
                    <div class="action-btn" *ngIf="charts.overall_chart" (click)="charts.overall_chart = !charts.overall_chart">
                        <span class="material-icons">
                            table_chart
                        </span>
                        <p>Table</p>
                    </div>
    
                    <div class="action-btn" *ngIf="!charts.overall_chart" (click)="charts.overall_chart = !charts.overall_chart">
                        <span class="material-icons">
                            bar_chart
                        </span>
                        <p>Chart</p>
                    </div>
                    
                </div>
                
                <div class="chart-canvas">
                    <canvas id="overall_line_chart">

                    </canvas>
                </div>
                
            
                
            </div>
        </div>
        

    </div>
    
</div>

<!-- <div class="full-screen-chart" *ngIf="full_screen_chart ==='dept_chart'">
    <canvas id="dept_bar_chart"></canvas>
</div> -->

