*{
    margin: 0;
    padding: 0;
}

.main{
    flex: 1;
    display: flex;
    flex-direction: column;
    // padding-bottom: 5%;
    position: relative;

    .back{
        height: 30px;
        width: 30px;
        position: absolute;
        left: 40px;
        cursor: pointer;
    }
    
    .no-data{
        // background-color: #152b51;
        width: 80%;
        height: 60vh;
        align-self: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        img{
            height: 70%;
        }

        p{
            font-family: 'Poppins';
            font-size: 20px;
        }
    }

    .title{
        margin-top: 30px;
        margin-left: 40px;
        font-family: 'Poppins';
        font-size: 1.5rem;
        letter-spacing: 2px;
        color: #152b51ff;

        h2{
            font-size: 1.5rem;
            background-color: #198754;
            display: inline-block;
            padding: 5px 20px;
            color: white;
            border-radius: 5px;
            margin-top: 20px;
        }
    }
    
    #line{
        height: 3px;
        background-color: #152b51ff;
        border-radius: 10px;
    }

    .more{
        color: white;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-bottom: 15px;
        // width: 100%;
        button{
            background-color: #35363a;
            color: white;
            display: flex;
            align-items: center;
            gap: 5px;
            border-radius: 5px;
            padding: 5px 10px;
            cursor: pointer;
            transition: 0.3s ease;
            p{
                font-family: 'Poppins';
                font-weight: 500;
            }
            span{
                font-size: 1rem;
            }
            &:hover{
                // opacity: 0.9;
                background-color: white;
                color: #35363a;
            }
        }
    }


    .filter-box{
        display: flex;
        flex-direction: column;
        gap: 20px;
        flex: 1;
        margin-top: 30px;
        margin-left: 40px;
        margin-right: 40px;

        .container{
            display: flex;
            align-items: center;
            justify-content: space-between;
            // width: 100%;
            
            .filter-container{
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                border-radius: 5px;
                gap: 15px;

                .status-filter{
                    display: flex;
                    flex: 1;
                    background-color: white;
                    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.4);
                    border-radius: 20px;
                    padding: 5px;
                    
                    .status{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 5px;
                        padding: 5px 15px;
                        border-radius: 15px;
                        font-family: 'Nunito';
                        cursor: pointer;
                        transition: 0.2s ease;
                        flex: 1;

                        p{
                            font-family: 'Nunito';
                            font-size: 1rem;
                            margin-left: 2px;
                        }
        
                        &:active{
                            transform: scale(0.9);
                            // transition: none;
                        }
        
                        span{
                            font-size: 1rem;
                        }
                    }
                }

                // .status-filter-sub{
                    
                // }
                
            }

            #refresh{
                background-color:#198754;
                color: white;
                font-size: 1.2rem;
                padding: 5px;
                border-radius: 5px;
                cursor: pointer;

                &:hover{
                    opacity: 0.85;
                }

                &:active{
                    transform: scale(0.9);
                }
            } 
        }
        
        .batch-filter{
            width: fit-content;
            display: flex;
            gap: 20px;

            mat-form-field{
                color: white;
                display: flex;
                
            }
            button{
                margin-top: 10px;
                background-color: #198754ff;
                color: white;
            }

            .slider{
                display: flex;
                flex-direction: column;
                width: 20vw;

                .slider-val{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    font-family: 'Nunito';
                    font-size: .75rem;
                    font-weight: 500;
                    p{
                        background-color: #35363a;
                        color: white;
                        padding: 2px 7px;
                        border-radius: 10px;
                    }
                }
            }
        }
    }

    .main-container{
        margin-left: 40px;
        height: fit-content;
        width: 95%;
        
        h1{
            margin-top: 30px;
            font-family: 'Poppins';
            font-size: 1.2rem;
            letter-spacing: 1px;
            color: #152b51;
            border-bottom: 1px dashed #152b51;
            width: fit-content;
        }

        .stats-box{
            display: flex;
            gap: 20px;
            align-items: center;
            .stats{
                height: 150px;
                background-color: white;
                border-radius: 15px;
                border: 1px solid #aaa;
                flex: 1;
                padding: 5px 15px;
                display: flex;
                flex-direction: column;
                transition: 0.3s ease;
                cursor: pointer;

                &:hover{
                    // box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
                    transform: scale(1.025)
                }

                .stats-sub-box{
                    display: flex;
                    flex: 1;
                    flex-direction: column;
                    // padding: 0px 15px;

                    .stats-val{
                        font-family: 'Poppins';
                        font-size: 1.7rem;
                        margin-top: 10px;
                        font-weight: bold;
                        color: white;
                        background-color: #152b51de;
                        width: fit-content;
                        padding: 0px 10px;
                        border-radius: 10px;
                    }

                    .stats-title{
                        font-family: 'Poppins';
                        font-weight: 700;
                        font-size: 1rem;
                        margin-top: 10px;
                        padding-bottom: 3px;
                        border-bottom: 0px;
                    }

                    .stats-val-sub{
                        font-family: 'Poppins';
                        font-size: .9rem;
                        margin-top: 10px;
                        font-weight: bold;
                        color: white;
                        background-color: #152b51de;
                        width: fit-content;
                        padding: 0px 10px;
                        border-radius: 5px;
                        font-weight: 500;
                    }

                    .stats-title-sub{
                        font-family: 'Poppins';
                        font-weight: 500;
                        font-size: .85rem;
                        margin-top: 5px;
                        padding-bottom: 3px;
                        border-bottom: 0px;
                        white-space: nowrap;
                    }

                }

                .stats-val{
                    font-family: 'Poppins';
                    font-size: 2rem;
                    margin-top: 10px;
                    font-weight: bold;
                    color: white;
                    background-color: #152b51de;
                    width: fit-content;
                    padding: 0px 10px;
                    border-radius: 10px;
                }

                .stats-title{
                    font-family: 'Poppins';
                    font-weight: 700;
                    font-size: 1.2rem;
                    margin-top: 10px;
                    border-bottom: 1px dashed;
                    padding-bottom: 3px;
                    white-space: nowrap;
                }

                .stats-sub{
                    margin-top: 10px;
                    font-family: 'Nunito';
                    color: #35363a9b;
                    font-size: .85rem;
                    justify-self: flex-end;
                }
            }

            .cat-stats{
                margin-top: 10px;
                flex: 1;
                border-radius: 20px 0px 20px 0px;
                height: 200px;
                display: flex;
                flex-direction: column;
                box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
                background-color: #35363a;
                transition: 0.3s ease;
                color: white;

                // &:hover{
                //     // transform: scale(1.025)
                // }

                span{
                    font-size: .85rem;
                    font-family: 'Nunito';
                    margin-left: 3px;
                }

                .cat-top{
                    flex: 1;
                    border-radius: 20px 0px 0px 0px;
                    display: flex;
                    flex-direction: column;
                    border-bottom: 1px dashed white;
                    color: white;
                    
                    .cat-title{
                        align-self: start;
                        font-family: 'Poppins';
                        font-size: 1rem;
                        border-radius: 20px 0px 20px 0px;
                        padding: 3px 10px;  
                        color: white; 
                    }
                    .cat-val{
                        flex: 1;
                        align-self: center;
                        font-family: 'Poppins';
                        font-size: 2.3rem;
                        font-weight: bold;
                        margin-top: 10px;
                    }
                }

                .cat-btm{
                    flex: 1;
                    border-radius: 0px 0px 20px 0px;
                    display: flex;                 

                    .cat-btm-sub{
                        flex: 1;
                        border-radius: 0px 0px 20px 0px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        padding: 3px;
                        position: relative;

                        .cat-btm-val{
                            font-family: 'Poppins';
                            font-size: 1.7rem;
                        }
                        .cat-btm-title{
                            justify-self: flex-end;
                            font-size: .75rem;
                            // margin-top: 5px;
                            font-family: 'Nunito';
                            font-weight: bold;
                        }

                        .btm-design{
                            padding: 6px 20px;
                            position: absolute;
                            bottom: 0;
                            z-index: 10;
                        }
                        #btm-design-lt{
                            right: 0;
                            border-radius: 10px 0px 0px 0px;
                            margin-right: -2px;
                        }

                        #btm-design-rt{
                            left: 0;
                            border-radius: 0px 10px 0px 0px;
                            margin-left: -2px;
                        }
                    }
                }
            }
        }

        .box{
            display: flex;
            align-items: center;
            gap: 30px;
            margin-top: 30px;

            .chart-box{
                display: flex;
                flex-direction: column;
                // margin-top: 20px;
                gap: 15px;
                flex: 1;
                height: 400px;
                // background-color: #198754;
    
                .chart-title{
                    display: flex;
                    align-items: flex-end;
                    justify-content: space-between;
                    // background-color: #152b51;
                    h1{
                        margin-top: 30px;
                        font-family: 'Poppins';
                        font-size: 1.2rem;
                        letter-spacing: 2px;
                        color: #152b51ff;
                    }

                    .action-btn{
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        background-color: #1a6486;
                        color: white;
                        padding: 5px 15px;
                        border-radius: 10px;
                        cursor: pointer;
                        transition: 0.3s ease;
                        margin-right: 20px;
    
                        p{
                            font-family: 'Nunito';
                            font-size: .85rem;
                        }
                        span{
                            font-size: 1.2rem;
                        }
    
                        &:hover{
                            opacity: .8;
                        }
                        &:active{
                            transform: scale(.9);
                        }
                    }
                     
                }
                .chart-canvas{
                    height: 400px;
                    border-radius: 15px;
                    background-color: white;
                    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
                    padding: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 90%;
                    align-self: center;
                }

                .area-chart{
                    height: 400px;
                    display: flex;
                    width: 90%;
                    background-color: white;
                    canvas{
                        width: 50%;
                    }
                }

                .temp-div{
                    height: 305px;
                    border-radius: 15px;
                    width: 100%;
                    background-color: white;
                    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
                    padding: 10px;
                    display: flex;
                    justify-content: center;
                    
                }
            }
        }
        
    }

    .active-chip-blue{
        background-color: #1a6486;
        color: white;
    }

    .active-chip-orange{
        background-color: #ea4034;
        color: white;
    }

    .not-active-chip{
        color: #aaa;
        &:hover{
            opacity: 0.9;
            color: #35363a;
        }
    }

    .prevent-select {
        -webkit-user-select: none; /* Safari */
        -ms-user-select: none; /* IE 10 and IE 11 */
        user-select: none; /* Standard syntax */
    }
}
