*{
    margin: 0;
    padding: 0;
}

.main{
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-bottom: 5%;
    // position: relative;
    // justify-content: center;

    .no-data{
        // background-color: #152b51;
        width: 80%;
        height: 60vh;
        align-self: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        img{
            height: 70%;
        }

        p{
            font-family: 'Poppins';
            font-size: 20px;
        }
    }

    .title{
        margin-top: 20px;
        margin-left: 40px;
        font-family: 'Poppins';
        font-size: 1.5rem;
        letter-spacing: 2px;
        color: #152b51ff;

        h2{
            font-size: 1.5rem;
            background-color: #198754;
            display: inline-block;
            padding: 5px 20px;
            color: white;
            border-radius: 5px;
            margin-top: 20px;
        }
    }
    
    #line{
        height: 3px;
        background-color: #152b51ff;
        border-radius: 10px;
    }

    .add-drive{
        display: flex;
        align-items: center;
        width: fit-content;
        padding: 7px 15px;
        border-radius: 5px;
        margin-right: 50px;
        color: white;
        background-color: #35363a;
        margin-top: 10px;
        font-weight: 500;

        gap: 10px;
        align-self: flex-end;
        transition: 0.3s ease;
        cursor: pointer;

        p{
            font-size: 17px;
            font-family: 'Nunito';
        }

        &:hover{
            opacity: 0.85;
        }
    }

    .top{
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
    }

    .back{
        height: 30px;
        width: 30px;
        position: absolute;
        top: 0;
        left: 20px;
        cursor: pointer;
        align-self: unset;
        justify-self: unset;
    }

    .grid-container-active {
        display: grid;
        height: fit-content;
        row-gap: 5%;
        column-gap: 3%;
        width: 95%;
        align-self: center;
        margin-top: 1%;
        // background-color: #152b51ff;

        .drive-info-box{
            height: fit-content;
            border-radius: 20px;
            box-shadow: 1px 2px 10px 1px rgba(0,0,0,0.4);
            padding: 10px 20px;
            background-color: white;
            // padding-bottom: 60px;
            
            position: relative;
            display: flex;
            flex-direction: column;
            transition: 0.3s ease;
    
            &:hover{
                box-shadow: 3px 5px 10px 1px rgba(0,0,0,0.6);
            }

        
            .title-box{
                display: flex;
                justify-content: space-between;
                
                .left{
                    align-self: center;
                    flex: 1;
                    
                    .category{
                        font-family: 'Nunito';
                        color: white;
                        background-color: #ea4034;
                        width: fit-content;
                        padding: 1px 5px;
                        border-radius: 5px;
                        font-size: .7rem;
                    }

                    .company{
                        border-bottom: 3px solid #152b51ff;
                        width: fit-content;
                        padding-right: 20px;
                        padding-bottom: 3px;
                        margin-bottom: 5px;
                        display: flex;
                        gap: 5px;

                        h1{
                            color: white;
                            font-weight: bold;
                            color: #152b51ff;
                            padding-top: 5px;
                            display: inline-block;
                        }

                        .link{
                            font-size: 1rem;
                            color: #868585;
                            cursor: pointer;
                            transition: color 0.3s ease;
                            &:hover{
                                color:black
                            }
                        }
                    }
                }
                .right{
                    align-self: flex-start;
                    display: flex;
                    align-items: center;
                    gap: 2px;
                    color: #aaa;
                    font-size: 0.8rem;
                    transition: 0.3s ease;
                    cursor: pointer;
                    font-weight: 500;

                    &:hover{
                        color: black;
                        gap: 5px;
                    }

                    p{
                        font-family: 'Nunito';
                        // margin-top: 3px;
                    }
                    span{
                        font-size: 1rem;   
                    }
                }
                
            }

            .content{
                display: flex;
                flex-direction: column;
                justify-content: start;
                gap: 7px;
                margin-top: 13px;
                flex: 1;
                position: relative;
                width: 100%;
                white-space: nowrap;

                .field{
                    display: flex;
                    gap: 10px;
                    font-size: .85rem;
                    gap: 15px;
                    align-items: center;
                    width: 80%;
                    p{
                        font-family: 'Nunito';
                    }
                }

                .name{
                    position: absolute;
                    font-family: 'Nunito';
                    font-size: .75rem;
                    font-weight: 500;
                    color: white;
                    padding: 2px 7px;
                    border-radius: 5px;
                    background-color: #198754;
                    bottom: 0;
                    right: 0;
                }
            }

            button{
                width: fit-content;
                border: none;
                background-color: #2f96b4;
                color: white;
                font-family: 'Poppins';
                gap: 5px;
                height: 30px;
                padding: 2px 10px;

                position: absolute;
                bottom: 10px;
                left: 20px;
            }
        }
    }

    .company-box{
        // background-color: #198754;
        height: fit-content;
        width: 95%;
        align-self: center;
        margin-top: 2%;
        display: flex;
        flex-direction: column;

        .company-info-box{
            // background-color: #1a6486;
            height: fit-content;
            border-bottom: 2px solid #152b51ff;
            display: flex;
            flex-direction: column;
            padding-bottom: 20px;
            
            .left{                
                .category{
                    font-family: 'Nunito';
                    // color: white;
                    background-color: #ea4034;
                    color : white;
                    width: fit-content;
                    padding: 2px 7px;
                    border-radius: 5px;
                    font-size: 1rem;
                    font-weight: bold;
                    margin-bottom: 10px;
                }

                .name{
                    font-size: .85rem;
                    background-color: #152b51;
                    display: flex;
                    align-items: center;
                    width: fit-content;
                    padding: 2px 7px;
                    border-radius: 10px;
                    gap: 5px;
                    color: white;
                }

                .company{
                    // border-bottom: 3px solid #152b51ff;
                    width: fit-content;
                    padding-bottom: 3px;
                    margin-bottom: 5px;
                    display: flex;
                    gap: 5px;

                    h1{
                        font-weight: bold;
                        padding-top: 5px;
                        display: inline-block;
                        font-size: 2.1rem;
                        background-color: #198754;
                        color: white;
                        padding: 2px 20px;
                        border-radius: 10px;
                    }

                    .link{
                        font-size: 1rem;
                        color: #868585;
                        cursor: pointer;
                        transition: color 0.3s ease;
                        &:hover{
                            color:black
                        }
                    }
                }
            }

            .content{
                display: flex;
                flex-direction: column;
                justify-content: start;
                gap: 10px;
                margin-top: 13px;
                background-color: white;
                border: 1px dashed;
                width: 400px;
                // height: 150px;
                white-space: nowrap;
                padding: 15px 50px 15px 15px;
                border-radius: 5px;

                .field{
                    display: flex;
                    gap: 10px;
                    font-size: 1rem;
                    gap: 15px;
                    align-items: center;
                    width: 80%;
                    // color: #1a6486;
                    p{
                        font-family: 'Nunito';
                        color: black;
                    }
                }
            }

            .options{
                display: flex;
                justify-content: flex-start;
                gap: 30px;
                margin-top: 10px;
                button{
                    height: 30px;
                    font-family: 'Nunito';
                }
            }
        }

        .company-reports{
            // background-color: #198754;
            display: flex;
            flex-direction: column;
            .report-box{
                margin-top: 20px;
               
                h2{
                    font-family: 'Poppins';
                    font-size: 25px;
                    color: #152b51;
                    margin-bottom: 5px;
                    width: fit-content;
                    padding-right: 20px;
                    border-bottom: 2px solid #152b51;
                }
            }
            .reports-table{
                margin-top: 10px;
                table{
                    width: 100%;
                    // tr{
                    //     display: flex;
                    // }
                    span{
                        color: #aaa;
                        transition: 0.2s ease;
                        cursor: pointer;
                        &:hover{
                            color: black;
                        }
                        &:active{
                            transform: scale(0.9);
                        }
                    }
                    .status{
                        font-weight: 500;
                        color: white;
                        padding: 3px;
                        border-radius: 10px;
                    }
                    
                    th{
                        font-family: 'Poppins';
                        background-color: #35363a;
                        color: white;
                    }
                    th, td{
                        padding: 5px 10px;
                    }
                    td{
                        text-align: center;
                        background-color: white;
                        font-family: 'Nunito';
                        width: 150px;
                        border: 1px solid #8b8b8bff;
                        font-size: 1rem;
                    }
                }
                
            }
        }
        
    }

    .filter-box{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        // background-color: #152b51;
        gap: 20px;
        flex: 1;
        margin-top: 30px;
        width: 100%;

        .add-report{
            display: flex;
            align-items: center;
            width: fit-content;
            padding: 7px 15px;
            border-radius: 5px;
            color: white;
            background-color:#1a6486;
            font-weight: 500;

            gap: 10px;
            transition: 0.3s ease;
        cursor: pointer;

        p{
            font-size: 17px;
            font-family: 'Nunito';
        }

        &:hover{
            opacity: 0.85;
        }
        }

        .container{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-left: 40px;
            width: 95%;
            
            .filter-container{
                display: flex;
                align-items: center;
                justify-content: flex-start;
                border-radius: 5px;
                gap: 15px;

                .temp-container{
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    padding: 10px;
                    gap: 5px;
                    border: 1px solid #35363a;
                    border-radius: 5px;

                    p{
                        font-family: 'Poppins';
                        font-weight: 500;
                        font-size: 1rem;
                    }

                    .status-filter{
                        display: flex;
                        gap: 15px;
                        flex: 1;
                        
                        .status{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            gap: 5px;
                            padding: 3px 7px;
                            // height: 20px;
                            border-radius: 5px;
                            font-family: 'Nunito';
                            cursor: pointer;
                            transition: 0.2s ease;

                            p{
                                font-family: 'Nunito';
                            }
            
                            &:hover{
                                opacity: 0.9;
                            }
            
                            &:active{
                                transform: scale(0.9);
                                // transition: none;
                            }
            
                            span{
                                font-size: 1rem;
                            }
                        }
                    }
                }
            }

            #refresh{
                background-color:#198754;
                color: white;
                font-size: 1.2rem;
                padding: 5px;
                border-radius: 5px;
                cursor: pointer;

                &:hover{
                    opacity: 0.85;
                }

                &:active{
                    transform: scale(0.9);
                }
            }

            
        }
        
        
        .date-filter{
            width: fit-content;
            display: flex;
            gap: 20px;

            mat-form-field{
                color: white;
                display: flex;
            }
            button{
                margin-top: 10px;
                background-color: #198754ff;
                color: white;
            }
        }
    }

   

    .add-drive-box{
        display: flex;
        flex-direction: column;
        padding: 30px;
        width: 80%;
        align-self: start;
        margin-left: 40px;
        margin-top: 2%;
        border: 1px dashed #152b51ff;
        border-radius: 10px;

        form{
            width: 80%;
            display: flex;
            flex-direction: column;
            gap: 40px;
            padding: 10px 50px;

            .toggle-container{
                display: flex;
                align-items: center;
                justify-content: flex-start;
                gap: 10px;
            }

            mat-form-field{
                width: 100%;
            }

            p{
                font-weight: 500;
            }

            .input{
                flex:1;
                display: flex;
                flex-direction: column;
                gap: 10px;
                padding: 10px;
                border-radius: 10px;
                transition: 0.3s ease;
                span{
                    color: black;
                }
            }

            .section{
                display: flex;
                gap: 30px;
                // align-items: center;
                // background-color: #198754;
                align-items: center;
            }
        }        

        .btns{
            display: flex;
            justify-content: space-between;
        }

        #add{
            background-color: #e5383b;
            color: white;
            font-weight: bold;
            padding: 0px 10px;
            width: 150px;
        }
        
        #reset{
            border: 1px solid #e5383b;
            color: #e5383b;
            font-weight: bold;
            width: 150px;
        }
    }

    .popup-container{
        position: absolute;
        top : 0;
        bottom : 0;
        left : 0;
        right: 0;
        height: 100vh;
        width: 100%;
        z-index: 100;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(0,0,0,0.4);

        .delete-popup{
            background-color: white;
            height: 100px;
            width: 400px;
            border-radius: 10px;
            padding: 20px;
            display: flex;
            flex-direction: column;
            gap: 30px;
            align-items: center;
            justify-content: center;
            font-family: 'Nunito';
            font-weight: 500;
            .btns{
                display: flex;
                gap: 50px;
                button{
                    color: white;
                }
            }
        }

        app-student-table{
            position: absolute;
            z-index: 150;
            top: 20px;
            bottom: 20px;
            left: 40px;
            right: 40px;
            display: flex;
            flex-direction: column;
        }

        app-popup{
            z-index: 110;
        }

        app-drive-popup{
            z-index: 120;
        }
    }
    
    .not-active-chip{
        border: 1px solid rgb(104, 102, 102);
        color: rgb(104, 102, 102) ;
    }


    .active-chip-blue{
        border: 1px solid #1a6486;
        color: white;
        background-color: #1a6486;
    }

    .prevent-select {
        -webkit-user-select: none; /* Safari */
        -ms-user-select: none; /* IE 10 and IE 11 */
        user-select: none; /* Standard syntax */
    }

    .active-status{
        background-color : #ea4034;
        transition: transform 0.2s ease;
        cursor: pointer;
        &:hover{
            opacity: 0.9;
        }
        &:active{
            transform: scale(0.95);
        }
    }
    .not-active-status{
        background-color : #198754; 
        pointer-events: none;  
    }
}

