<div class="main">


    <div class="top">
        <img (click) = "back()" src="../../assets/back.png" *ngIf="section==2 || section==3 || (section==1 && role==='Director')" class="back">
        <div class="title" *ngIf="section==1">
            <h1>My Companies</h1>
        </div>

        <div class="title" *ngIf="section==2">
            <h1>{{action}}</h1>
        </div>

        <div class="title" *ngIf="section==3">
            <h1>Company Details</h1>
        </div>


        <div *ngIf="section==1 && role=='Officer'" class="add-drive" (click)="changeSection(2, 'Add Company')">
            <span class="material-symbols-outlined">
                add_box
            </span>
            <p>Add Company</p>
        </div>

        <div *ngIf="section==3 && role=='Officer'" class="add-drive" (click)=openDrivePopup() style="background-color:#ea4034">
            <span class="material-symbols-outlined">
                add_box
            </span>
            <p>Fix Drive</p>
        </div>

    </div>
    
    <div class="filter-box" *ngIf="section==1">
        <div class="container" *ngIf="section==1">
            <div class="filter-container">
                <div class="temp-container">
                    <p>Category</p>
                    <div class="status-filter">
                        
                        <a style="text-decoration: none;">
                            <div class="status" [ngClass]="{'active-chip-blue' : company_filter=='Active', 'not-active-chip':company_filter!='Active'}" (click)="changeFilter('company', 'Active')">
                                <span class="material-symbols-outlined">
                                    done
                                </span>
                                <p>Active</p>
                            </div>
                        </a>

                        <a style="text-decoration: none;">
                            <div class="status" [ngClass]="{'active-chip-blue' : company_filter=='All', 'not-active-chip':company_filter!='All'}" (click)="changeFilter('company', 'All')">
                                <span class="material-symbols-outlined">
                                    done
                                </span>
                                <p>All</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            
            <a>
                <span matTooltip="Refresh" class="material-symbols-outlined" id="refresh" (click)="getCompanies(company_filter)">
                    refresh
                </span>
            </a>
            
        </div>
    </div>

    <div class="no-data" *ngIf="companies.length==0 && section==1">
        <img src="../../assets/no-data.svg" alt="no-data.svg">
        <p>No Data Found...</p>
    </div>


    <div class="grid-container-active" *ngIf="section==1 && companies.length>0" [ngStyle]="company_filter==='Active'?{'grid-template-columns': '1fr 1fr 1fr'} : {'grid-template-columns': '1fr 1fr 1fr 1fr'}">
        <div class="drive-info-box"  *ngFor="let company of companies">
    
            <div class="title-box">
                <div class="left">
                    <p class="category">{{company.category}}</p>
                    <div class="company">
                        <h1 [ngStyle]="company_filter==='Active'?{'font-size': '1.3rem'} : {'font-size': '1rem'}">{{company.company}}</h1>
                        <a [href]="company.website" target="_blank">
                            <span class="material-symbols-outlined link">
                                open_in_new
                            </span>
                        </a>
                    </div>
                </div>

                <div class="right" (click)="openCompany(company)">
                    <p>View More</p>
                    <span class="material-symbols-outlined">
                        arrow_forward_ios
                    </span>
                </div>

            </div>
            
            <div class="content" *ngIf="company_filter==='Active'">

                <div class="field">
                    <span class="material-symbols-outlined">
                        today
                    </span>
                    <p style="font-family: 'Poppins';font-weight:500;">Initiated At :  </p>
                    <p>{{company.initiated_at}}</p>
                </div>

                <div class="field">
                    <span class="material-symbols-outlined">
                        account_box
                    </span>
                    <p style="font-family: 'Poppins';font-weight:500;">HR Name : </p>
                    <p>{{company.HR_name}}</p>
                </div>
                
                <div class="field">
                    <span class="material-symbols-outlined">
                        mail
                    </span>
                    <p style="font-family: 'Poppins';font-weight:500;">HR Mail : </p>
                    <p>{{(company.lock_hr_mail && role==='Director')?'--' : company.HR_mail}}</p>
                </div>

                <div class="field">
                    <span class="material-symbols-outlined">
                        phone
                    </span>
                    <p style="font-family: 'Poppins';font-weight:500;">HR Contact : </p>
                    <p>{{(company.lock_hr_contact && role==='Director')?'--' : company.HR_contact}}</p>
                </div>

                <div class="name" *ngIf="role==='Director'">
                    <p>{{company.name}}</p>
                </div>

            </div>
        </div>  
    </div>

    <div class="company-box" *ngIf="section==3"> 
        <div class="company-info-box">
            <div class="left">
                <p class="category">{{cur_company.category}}</p>
                <div class="company">
                    <h1>{{cur_company.company}}</h1>
                    <a [href]="cur_company.website" target="_blank">
                        <span class="material-symbols-outlined link">
                            open_in_new
                        </span>
                    </a>
                </div>
                <div class="name" *ngIf="role==='Director'">
                    <span class="material-symbols-outlined">
                        person
                    </span>
                    <p>{{cur_company.name}}</p>
                </div>
                
            </div>

            <div class="content">
                
                <!-- <div class="field">
                    <span class="material-symbols-outlined">
                        person
                    </span>
                    <p style="font-family: 'Poppins';font-weight:500;">Followed By : </p>
                    <p>{{cur_company.name}}</p>
                </div> -->

                <div class="field">
                    <span class="material-symbols-outlined">
                        today
                    </span>
                    <p style="font-family: 'Poppins';font-weight:500;">Initiated At : </p>
                    <p>{{cur_company.initiated_at}}</p>
                </div>

                <div class="field">
                    <span class="material-symbols-outlined">
                        account_box
                    </span>
                    <p style="font-family: 'Poppins';font-weight:500;">HR Name : </p>
                    <p>{{cur_company.HR_name}}</p>
                </div>
                
                <div class="field">
                    <span class="material-symbols-outlined">
                        mail
                    </span>
                    <p style="font-family: 'Poppins';font-weight:500;">HR Mail : </p>
                    <p>{{cur_company.HR_mail}}</p>
                </div>

                <div class="field">
                    <span class="material-symbols-outlined">
                        phone
                    </span>
                    <p style="font-family: 'Poppins';font-weight:500;">HR Contact : </p>
                    <p>{{cur_company.HR_contact!==null?cur_company.HR_contact : 'Not Available'}}</p>
                </div>

                <div class="options">
                    <button mat-raised-button color="primary" (click)="changeSection(2, 'Edit Company')">Edit</button>
                    <button mat-raised-button color="warn" (click)="deleteCompany()">Delete</button>
                </div>

            </div>
        </div>


        <div class="company-reports" *ngIf="section==3">
            <div class="report-box">
                <h2>Follow-Ups</h2>
              
                <div class="filter-box" >
                    <div class="date-filter" *ngIf="section==3">
                        
                        <mat-form-field>
                            <mat-label>Filter By Date Range</mat-label>
                            
                            <mat-date-range-input [rangePicker]="picker">
                            <input matStartDate placeholder="Start date" [(ngModel)]="startDate">
                            <input matEndDate placeholder="End date" [(ngModel)]="endDate">
                            </mat-date-range-input>
            
                            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-date-range-picker #picker></mat-date-range-picker>
                        </mat-form-field>
                        <button mat-raised-button (click)="getReportsByCompany()" style="background-color: #35363a;">Apply</button>
                    </div>

                    <div class="temp" style="display: flex;align-items:center; gap:10px">
                        <div class="add-report" (click)="exportAsCsv()" id="export">
                            <span class="material-symbols-outlined">
                                download
                            </span>
                            <p>Export as CSV</p>
                        </div>

                        <div class="add-report" style="background-color: #198754;" id="reset" (click)="openPopup('add', last_followup)" [ngStyle]="last_followup_status?{} : {'pointer-events' : 'none', 'filter' : 'grayscale(100%)'}">
                            <span class="material-symbols-outlined">
                                history
                            </span>
                            <p>Restart Follow-Up</p>
                        </div>

                    </div>
                    
                    
                </div>
            </div>
            <div class="reports-table">
                <table>
                    <tr>
                        <th>S.No</th>
                        <th>Date</th>
                        <th colspan="2">Message</th>
                        <th>Reminder</th>
                        <th style="width: 30px;">Status</th>
                        <th colspan="2">Remarks</th>
                        <th *ngIf="role==='Officer'">Edit</th>
                        <th *ngIf="role==='Officer'">Delete</th>
                    </tr>

                    <tr *ngFor="let item of report_lst">
                        <!-- 1 -->
                        <td style="width: 30px;">{{item.position}}</td>
                        
                        <!-- 2 -->
                        <td>
                            <div class="temp">
                                <p>{{item.date}}</p>
                                <p style="font-style: italic;font-size : .85rem">[{{item.time}}]</p>
                            </div>
                        </td>

                        <!-- 3 -->
                        <td colspan="2">{{item.message}}</td>
                        
                        <!-- 4 -->
                        <td>{{item.reminder_date}}</td>
                        
                        <!-- 5 -->
                        <td>
                            <p class="status prevent-select"  [ngClass]="{'active-status': !item.status, 'not-active-status' : item.status}" [ngStyle]="role==='Director'? {'pointer-events' : 'none'} : {}" (click)="openPopup('add', item)">{{item.status?'Completed' : 'Update'}}</p>
                        </td>

                        <!-- 5 -->
                        <td colspan="2">
                            <p style="cursor:pointer;" *ngIf="item.remarks!==null" (click) = "role==='Director'?openRemarksPopup(item.pk, 'edit'): ''">{{item.remarks}}</p>
                            <p *ngIf="item.remarks===null">-</p>
                            <button *ngIf="item.remarks===null  && role==='Director'" mat-raised-button (click)="openRemarksPopup(item.pk, 'add')">Add</button>
                        </td>

                        <!-- 7 -->
                        <td style="width: 30px;" *ngIf="role==='Officer'">
                            <span class="material-symbols-outlined prevent-select" (click)="openPopup('edit', item)">
                                edit
                            </span>
                        </td>
                       
                        <!--8-->
                        <td style="width: 30px;" [ngStyle]="!item.status?{'opacity' : '0.8', 'pointer-events' : 'none'} : {}" *ngIf="role==='Officer'">
                            <span class="material-symbols-outlined prevent-select" (click)="openDeletePopup(item.pk)">
                                delete
                            </span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="add-drive-box" *ngIf="section==2">
        <!-- [formGroup]="loginForm" (ngSubmit)="proceedLogin()" -->
        
        <form [formGroup]="addCompanyForm" *ngIf="section==2">
            
            <div class="section">
                <div class="input">
                    <p>Company</p>
                    <mat-form-field class="input">
                        <mat-label>AutoDesk</mat-label>
                        <input matInput formControlName = "company">
                    </mat-form-field>
                </div>
    
                <div class="input">
                    <p>Category</p>
                    <mat-form-field>
                        <mat-label>Category</mat-label>
                        <mat-select formControlName = "category">
                            <mat-option value="Core">Core</mat-option>
                            <mat-option value="IT - Product">IT - Product</mat-option>
                            <mat-option value="IT - ES">IT - ES</mat-option>
                            <mat-option value="Sales / Management">Sales / Management</mat-option>
                            <mat-option value="Others">Others</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
             
            <div class="section">
                <div class="input">
                    <p>HR Name</p>
                    <mat-form-field>
                        <mat-label>Tom H</mat-label>
                        <input matInput formControlName = "hr_name">
                    </mat-form-field> 
                </div>
    
                <div class="input" [ngStyle]="lock_hr_mail?{'background-color' : '#35363a', 'color' : 'white'} : {}">
                    <div class="toggle-container">
                        <p>HR Mail</p>
                        <mat-slide-toggle [(ngModel)]="lock_hr_mail" [ngModelOptions]="{standalone: true}" name="reminderToggle"></mat-slide-toggle>
                    </div>
                    <mat-form-field>
                        <mat-label>TomH@autodesk.com*</mat-label>
                        <input matInput formControlName = "hr_mail">
                    </mat-form-field> 
                </div>
            </div>
            
            <div class="section">
                <div class="input" [ngStyle]="lock_hr_contact?{'background-color' : '#35363a', 'color' : 'white'} : {}">
                    <div class="toggle-container">
                        <p>HR Contact</p>
                        <mat-slide-toggle [(ngModel)]="lock_hr_contact" [ngModelOptions]="{standalone: true}" name="reminderToggle"></mat-slide-toggle>
                    </div>
                    
                    <mat-form-field>
                        <mat-label>xxxxxxxxxx</mat-label>
                        <span matPrefix>+91 &nbsp;</span>
                        <input matInput formControlName = "hr_contact">
                    </mat-form-field> 
                </div>

                <div class="input">
                    <p>Company Website</p>
                    <mat-form-field>
                        <mat-label>https://www.autodesk.com/careers</mat-label>
                        <input type="url" matInput formControlName = "website">
                    </mat-form-field>
                </div>
            </div>

            <div class="section" *ngIf="action==='Add Company'">
                <div class="input" style="margin-top:18px">
                    <p>Message</p>
                    <mat-form-field>
                        <mat-label>Write your message here...</mat-label>
                        <input matInput formControlName = "message">
                    </mat-form-field>
                </div>
                
                <div class="input">
                    <div class="toggle-container">
                      <p>Reminder</p>
                      <mat-slide-toggle [(ngModel)]="reminder" [ngModelOptions]="{standalone: true}" name="reminderToggle"></mat-slide-toggle>
                    </div>
                    <mat-form-field>
                      <mat-label>Choose a date</mat-label>
                      <input matInput [matDatepicker]="picker_2" [disabled]='!reminder' 
                      [(ngModel)]="reminder_date" [ngModelOptions]="{standalone: true}">
                  
                      <mat-datepicker-toggle matIconSuffix [for]="picker_2"></mat-datepicker-toggle>
                      <mat-datepicker #picker_2></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
            

            <div class="btns">
              <button mat-raised-button id="reset" (click)="addCompanyForm.reset()">Reset</button>
              <button mat-raised-button id="add" (click)="action==='Add Company'?addCompany() : updateCompany()">{{action==='Add Company'?'Add Company' : 'Save Changes'}}</button>
            </div>
          
        </form>

    </div>

    <div class="popup-container" *ngIf="section==3 && (popup||delete_popup||drive_popup||remarks_popup )">
        <app-popup 
            (popup_closed)="handleValue($event)" 
            [data] = 'popup_data' 
            *ngIf="popup">
        </app-popup>

        <div class="remarks-popup" *ngIf="remarks_popup">
            <div class="remark-title">Add Remarks</div>
            <div class="input">
                <mat-form-field>
                    <mat-label>Write Remarks Here</mat-label>
                    <textarea matInput [(ngModel)]="remarks"></textarea>
                </mat-form-field>
            </div>
            <div class="btns">
                <button mat-raised-button style="background-color: #198754;" (click)="addRemarks()">Add</button>
                <button mat-raised-button style="background-color: #35363a;" (click)="closeRemarksPopup()">Cancel</button>
            </div>
        </div>

        <div class="delete-popup" *ngIf="delete_popup">
            <p>Are You sure You want to delete the Report?</p>
            <div class="btns">
                <button mat-raised-button style="background-color: red;" (click)="deleteReport(delete_report_pk)">Delete</button>
                <button mat-raised-button style="background-color: #35363a;" (click)="delete_popup=false">Cancel</button>
            </div>
        </div>
        
        <app-drive-popup 
            (popup_closed)="handleDrivePopup($event)" 
            [data] = 'drive_popup_data' 
            *ngIf="drive_popup">
        </app-drive-popup>

        
    </div>
    

</div>